@model SurveyListingViewModel
@{
    ViewData["Title"] = "Books";
}
<div class="row mr-8 text-center">
    <div>
        <a asp-area="En" asp-controller="Home" asp-action="Ask" style="text-decoration: none">
            <p class="lib-sidebar-p1">Ask Librarian</p>
        </a>
    </div>
    <div>
        <a asp-area="En" asp-controller="Surveys" asp-action="Survey" asp-route-id="@Model.Surveys.Last().id" style="text-decoration: none">
            <p class="lib-sidebar-p1">Become Volunteer</p>
        </a>
    </div>
    <div>
        <a asp-area="En" asp-controller="Surveys" asp-action="Survey" asp-route-id="@Model.Surveys.First().id" style="text-decoration: none">
            <p class="lib-sidebar-p1">Join survey</p>
        </a>
    </div>
    <div>
        <a style="text-decoration: none">
            <p class="lib-sidebar-p1">Make donation</p>
        </a>
    </div>
    <div class="lib-bp">
        <a asp-area="En" asp-controller="Home" asp-action="LibraryPost" style="text-decoration: none">
            <p class="lib-sidebar-p">LibraryPost</p>
            <img class="lib-sidebar-img hidden-md hidden-sm hidden-xs" src="~/images/SiteImages/biblio-poshta.JPG" alt="LibraryPost" />
            <div class="hidden-lg">
                <img class="lib-sidebar-img" src="~/images/SiteImages/biblio-poshta.JPG" alt="LibraryPost" />
            </div>
        </a>
    </div>
</div>
