@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div class="p-10 lib-lang-box">
<a class="p-rl-15 no-dec"  asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-id="@cultureItems.First().Value"><img title="Български език" class="width-25" src="~/images/SiteImages/bg-flag.png" alt="Български език" /> </a>
<a class="no-dec" asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-id="@cultureItems.Last().Value"><img title="Английски език" class="width-25" src="~/images/SiteImages/uk-flag.png" alt="Английски език" /></a>
</div>
