@model IEnumerable<LatestGalleriesServiceModel>
@{
    ViewData["Title"] = "Books";
}
<div class="row mr-8 text-center">
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Ask" style="text-decoration: none">
            <p class="lib-sidebar-p1">Попитай Библиотекаря</p>
        </a>
    </div>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Volunteers" style="text-decoration: none">
            <p class="lib-sidebar-p1">Стани Доброволец</p>
        </a>
    </div>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Survey" style="text-decoration: none">
            <p class="lib-sidebar-p1">Участвай в анкета</p>
        </a>
    </div>
    <div>
        <a style="text-decoration: none">
            <p class="lib-sidebar-p1">Направи Дарение</p>
        </a>
    </div>
    <div class="lib-bp">
        <a asp-area="" asp-controller="Home" asp-action="LibraryPost" style="text-decoration: none">
            <p class="lib-sidebar-p">БиблиоПоща</p>
            <img class="lib-sidebar-img hidden-md hidden-sm hidden-xs" src="~/images/SiteImages/biblio-poshta.JPG" alt="БиблиоПоща" />
            <div class="hidden-lg">
                <img class="lib-sidebar-img" src="~/images/SiteImages/biblio-poshta.JPG" alt="БиблиоПоща" />
            </div>
        </a>
    </div>
</div>
