@model ArticleFormModel
@inject IViewLocalizer Localizer

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea id="summernote" asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate"></label>
        <input asp-for="ReleaseDate" class="form-control" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row mr-l-0">
            <label asp-for="Language"></label>
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(l => l.Language, Language.Bg))@Localizer["Bulgarian"]
        </div>
        <div class="row mr-l-0">
            @(Html.RadioButtonFor(l => l.Language, Language.En))@Localizer["English"]
        </div>
        <span asp-validation-for="Language" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShowAtFrontPage"></label>
        <input type="checkbox" asp-for="ShowAtFrontPage" />
        <span asp-validation-for="ShowAtFrontPage" class="text-danger"></span>
    </div>
    <span class="author-text">*@Localizer["If the gallery has less than two pictures, it will be auto hidden"]</span>
    <div class="form-group">
        <label asp-for="AddGallery"></label>
        <input type="checkbox" asp-for="AddGallery" />
        <span asp-validation-for="AddGallery" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <input asp-for="Files" class="form-control" name="files" multiple />
    </div>
    <button type="submit" class="btn btn-info">@Localizer["Save"]</button>
    <a class="btn btn-default btn-sm" asp-area="LibraryBlog" asp-action="Articles">@Localizer["Back"]</a>
</form>

