@model IEnumerable<LatestBookServiceModel>
@{
    ViewData["Title"] = "Books";
}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h4 class="text-center" style="width: 120px;margin: 45px auto 0 auto"><a asp-area="LibraryBlog" asp-controller="Books" asp-action="Books">Най-новите книги</a></h4>
        <ul class="rslides" style="max-height: 170px; margin: 0 auto;">
            @foreach (var book in Model)
            {
                <li>
                    <a asp-area="LibraryBlog" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id"><img src="@book.ImageUrl" alt="@book.BookTitle"></a>
                </li>
            }
        </ul>   
        <div id="eventCalendarLocaleFile" class="width-300" style="margin-top: 20px;"></div>
    </div>
</div>
@section Scripts{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $("#eventCalendarLocaleFile").eventCalendar({
                eventsjson: 'lib/jquery/dist/EventsDb.json',
                locales: {
                    locale: "bg",
                    monthNames: [
                        "Януари", "Февруари", "Март", "Април", "Май", "Юни",
                        "Юли", "Август", "Септмври", "Октомври", "Ноември", "Декември"
                    ],
                    dayNames: [
                        'Понеделник', 'Вторник', 'Сряда', 'Четвъртък',
                        'Петък', 'Събота', 'Неделя'
                    ],
                    dayNamesShort: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Нд'],
                    txt_noEvents: "Няма събития",
                    txt_SpecificEvents_prev: "",
                    txt_SpecificEvents_after: "Събития:",
                    txt_next: "следващ",
                    txt_prev: "предишен",
                    txt_NextEvents: "Предстоящи събития:",
                    txt_GoToEventUrl: "Подробности",
                    "moment": {
                        "months": [
                            "Януари", "Февруари", "Март", "Април", "Май", "Юни",
                            "Юли", "Август", "Септмври", "Октомври", "Ноември", "Декември"
                        ],
                        "monthsShort": [
                            "Яну", "Фев", "Мар", "Апр", "Май", "Юни",
                            "Юли", "Авг", "Сеп", "Окт", "Ное", "Дек"
                        ],
                        "weekdays": [
                            'Понеделник', 'Вторник', 'Сряда', 'Четвъртък',
                            'Петък', 'Събота', 'Неделя'
                        ],
                        "weekdaysShort": ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Нд'],
                        "weekdaysMin": ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Нд'],
                        "longDateFormat": {
                            "LT": "H:mm",
                            "LTS": "LT:ss",
                            "L": "DD/MM/YYYY",
                            "LL": "D MMMM YYYY",
                            "LLL": "D MMMM YYYY LT",
                            "LLLL": "dddd, D MMMM YYYY LT"
                        },
                        "week": {
                            "dow": 1,
                            "doy": 4
                        }
                    }
                }
            });
        });
    </script>
}