@model GalleryDeleteViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Delete Gallery"];
}
<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <h1 class="mr-t-b-25">@Localizer["Are you sure, you want to delete the gallery"]?</h1>
        <a asp-area="LibraryBlog" asp-controller="Galleries" asp-action="Destroy" asp-route-id="@Model.Id" class="btn btn-danger">@Localizer["Delete"]</a>
        <a class="btn btn-default btn-sm" asp-area="LibraryBlog" asp-controller="Galleries" asp-action="Galleries">@Localizer["Back"]</a>
    </div>
</div>