@model GalleryFormModel

@{
    ViewData["Title"] = "Редактирай Галерия";
}

<h1 class="text-center mr-t-b-25">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        @Html.Partial("_GalleryForm", Model)
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}