@model SurveyFormModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Change survey"];
}
<div class="row text-center">
    <h2 class="text-center mr-t-b-25">@ViewData["Title"]</h2>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="url"></label>
                <input asp-for="url" class="form-control" />
                <span asp-validation-for="url" class="text-danger"></span>
            </div>
            <button type="submit" class="lib-btn-invrt">@Localizer["Save"]</button>
            <a class="lib-btn" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Back"]</a>
        </form>
    </div>
</div>
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

