@{
    ViewData["Title"] = "APC Department";
}
<div class="row text-center">
    <h2>Отдел „Комплектуване, обработка и каталогизация”</h2>
</div>
<div class="max-w-500 mr-10-auto">
    <table class="table-hover" style="width: -webkit-fill-available;width: -moz-available; ;">
        <thead>
            <tr>
                <th colspan="2" class="text-center">Работно време</th>
            </tr>
        </thead>
        <tbody style="width: 500px;">
            <tr>
                <td class="p-0-3 text-left">Понеделник - Петък</td>
                <td class="p-0-3 text-left">9.00-12.00 часа; 12.30-17.00 часа</td>
            </tr>
            <tr>
                <td class="p-0-3 text-left">Събота</td>
                <td class="p-0-3 text-left">Почивен ден</td>
            </tr>
        </tbody>
    </table>
    <div class="panorama">
        <img src="~/images/SiteImages/CISBO.jpg" alt="Отдел „Комплектуване, обработка и каталогизация”">
    </div>
</div>
<div class="col-md-12">
    <div class="text-justify max-w-750 mr-0-auto">
        <p class="text-justify">Комплектува библиотечния фонд като се спазват основните принципи – съобразяване с профила на библиотеката и региона като икономика и социален състав на потребителите, както и с читателските търсения. Годишно библиотеката обогатява фондовете си средно с около 2 хил. заглавия от различни области на знанието и художествена литература. В отдела се проучва и следи състоянието на книжния пазар. Осъществяват се контакти с книгоразпространители, издателства, редакции, книжарници – електронни и традиционни, дарители.</p>
    </div>
    <div class="text-center">
        <a class="lib-btn" href="javascript:history.go(-1)">Назад</a>
    </div>
</div>

@section Scripts{
    <script>
        $(".panorama").panorama_viewer({
            repeat: true,
            direction: "horizontal",
            animationTime: 1200,
            easing: "ease-out",
            overlay: true
        });
    </script>
}

