
@{
    ViewData["Title"] = "Children";
}
<div class="text-center row">
    <h2>Детски отдел</h2>
</div>
<div class="row max-w-500 mr-10-auto">
    <table class="table-hover" style="width: -webkit-fill-available;width: -moz-available;">
        <thead>
            <tr>
                <th colspan="2" class="text-center">Работно време</th>
            </tr>
        </thead>
        <tbody style="width: 500px;">
            <tr>
                <td class="p-0-3 text-left">Понеделник - Петък</td>
                <td class="p-0-3 text-left">9.00-18.00 часа</td>
            </tr>
            <tr>
                <td class="p-0-3 text-left">Събота</td>
                <td class="p-0-3 text-left">9.00-14.00 часа</td>
            </tr>
        </tbody>
    </table>
    <div class="panorama">
        <img src="~/images/SiteImages/CISBO.jpg" alt="Детски отдел">
    </div>
</div>
<div class="col-md-12">
    <div class="text-justify max-w-750 mr-0-auto">
        <p class="text-center italic">Деца, глъч, светли и просторни зали, кътове за четене и игра</p>
        <p class="text-center italic">и много детски усмивки.</p>
        <p class="text-center italic">Това е мястото където се случва първата среща на малкия читател</p>
        <p class="text-center italic">с библиотеката и книгите.</p>
        <p>Детският отдел на  Регионална библиотека “Михалаки Георгиев” работи активно с деца до 14 годишна възраст. Отделът разполага с богат книжен фонд от детска художествена и научно-популярна  литература, комикси, енциклопедии, детски вестници и списания. През 2012 година отделът бе обновен и бяха обособени кътове, където децата могат да четат, да рисуват, да пишат, да играят.</p>
        <p>През  2015 година отвори врати нов технологичен кът към Детски отдел, разполагащ с 3D телевизор, четци за електронни книги, видео игри и детски книги.</p>
        <p>Основна цел на отдела на видинската библиотека е да  възпитава любов  към четенето, да стимулира децата да развиват творческите си способности, креативност и фантазия.  В тази насока се провеждат различни мероприятия - драматизация на детски приказки, гостувания на детски автори и представяне на нови книги, възстановка на редица български обичаи, тържества по повод всеки празник, игри с награди, четене на открито и „Лято с библиотеката”.</p>
        <div class="text-center">
            <a class="lib-btn" href="javascript:history.go(-1)">Назад</a>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(".panorama").panorama_viewer({
            repeat: true,
            direction: "horizontal",
            animationTime: 1200,
            easing: "ease-out",
            overlay: true
        });
    </script>
}
