@{
    ViewData["Title"] = "Дарители";
    ViewData["Description"] = "Страница с имаената на всички юридически и физически дарители на Регионална библиотека \"Михалаки Георгиев\" -гр. Видин.";
}

<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div id="scroll-id1" class="row p-10-table">
    <h3 class="text-center">Списък на най-големите дарители на Регионална библиотека „Михалаки Георгиев” за периода 1991 – 2016 година</h3>
    <div class="col-md-5">
        <table class="table table-responsive table-hover mr-t-b-25">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">Дарения от Организации</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center first-color-b second-color">Организация</th>
                    <th class="text-center first-color-b second-color">Дарение</th>
                </tr>
                <tr>
                    <td class="vertical-align-middle" rowspan="2">Британски съвет</td>
                    <td>990 т.</td>
                </tr>
                <tr>
                    <td class="lib-cell-corrector">136 аудиокасети</td>
                </tr>
                <tr>
                    <td>Национална библиотека „Св.св. Кирил и Методий”</td>
                    <td>688 т.</td>
                </tr>
                <tr>
                    <td>Посолство на САЩ</td>
                    <td>669 т.</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle" rowspan="4">Фондация „Отворено общество”</td>
                    <td>461 т.</td>
                </tr>
                <tr>
                    <td class="lib-cell-corrector">164 грамофонни плочи</td>
                </tr>
                <tr>
                    <td class="lib-cell-corrector">81 аудиокасети</td>
                </tr>
                <tr>
                    <td class="lib-cell-corrector">компютърна техника</td>
                </tr>
                <tr>
                    <td>Министерство на културата</td>
                    <td>635 т.</td>
                </tr>
                <tr>
                    <td>Фондация „Америка за България“</td>
                    <td>452 т.</td>
                </tr>
                <tr>
                    <td>РЦ „Метрология” – Видин</td>
                    <td>385 т.</td>
                </tr>
                <tr>
                    <td>Американски университет в Благоевград</td>
                    <td>350 т.</td>
                </tr>
                <tr>
                    <td>Изд. Сл. Николов и сие – Шумен</td>
                    <td>250 т.</td>
                </tr>
                <tr>
                    <td>Изд. Абагар</td>
                    <td>228 т.</td>
                </tr>
                <tr>
                    <td>БЧК Видин</td>
                    <td>157 т.</td>
                </tr>
                <tr>
                    <td>Вестникарска група България ООД</td>
                    <td>156 т.</td>
                </tr>
                <tr>
                    <td>БАН</td>
                    <td>154 т.</td>
                </tr>
                <tr>
                    <td>Председателство на Асоциацията на търговците в Крайова</td>
                    <td>136 т.</td>
                </tr>
                <tr>
                    <td>РИОКОЗ Видин</td>
                    <td>125 т.</td>
                </tr>
                <tr>
                    <td>Балканбанк Видин</td>
                    <td>113 т.</td>
                </tr>
                <tr>
                    <td>Културно представителство на САЩ</td>
                    <td>111 т.</td>
                </tr>
                <tr>
                    <td>ЖП гара – Видин</td>
                    <td>106 т.</td>
                </tr>
                <tr>
                    <td>Читалище „Цвят”</td>
                    <td>100 т.</td>
                </tr>
                <tr>
                    <td>НДФ „13 века България“</td>
                    <td>60 т.</td>
                </tr>
                <tr>
                    <td>Булвест 2000</td>
                    <td>52 т.</td>
                </tr>
                <tr>
                    <td>Международна фондация „Падме“</td>
                    <td>45 т.</td>
                </tr>
                <tr>
                    <td>Софийска градска библиотека </td>
                    <td>34 т.</td>
                </tr>
                <tr>
                    <td>ИК „Труд и право“</td>
                    <td>34 т.</td>
                </tr>
                <tr>
                    <td>Държавен архив - Видин </td>
                    <td>27 т.</td>
                </tr>
                <tr>
                    <td>Изд. "Ера" </td>
                    <td>27 т.</td>
                </tr>
                <tr>
                    <td>Висш адвокатски съвет</td>
                    <td>26 т.</td>
                </tr>
                <tr>
                    <td>Матачна библиотека Зайчар</td>
                    <td>22 т.</td>
                </tr>
                <tr>
                    <td>НДФ „13 века България“</td>
                    <td>60 т.</td>
                </tr>
                <tr>
                    <td>Изд. синева</td>
                    <td>22 т.</td>
                </tr>
                <tr>
                    <td>ЦДГ „Арабела“</td>
                    <td>22 т.</td>
                </tr>
                <tr>
                    <td>ЮЗУ Благоевград</td>
                    <td>12 т.</td>
                </tr>
                <tr>
                    <td>Фондация "Комунитас"</td>
                    <td>12 т.</td>
                </tr>
                <tr>
                    <td>Народна библиотека Неготин</td>
                    <td>11 т.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <table class="table table-responsive table-hover mr-t-b-25">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">Дарения от Частни лица</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center first-color-b second-color">Име</th>
                    <th class="text-center first-color-b second-color">Дарение</th>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Верка Монова от гр. Дунавци</td>
                    <td>1027 грамофонни плочи</td>
                </tr>
                <tr>
                    <td>Илина Гергова от гр. Видин</td>
                    <td>900 т.</td>
                </tr>
                <tr>
                    <td>Венка Лалова</td>
                    <td>812 т.</td>
                </tr>
                <tr>
                    <td>Родителите на Митко Лачев, дарили от личната му библиотека в негова памет</td>
                    <td>806 т.</td>
                </tr>
                <tr>
                    <td>Марчо Димитров</td>
                    <td>450 т.</td>
                </tr>
                <tr>
                    <td>Д-р В. Кузева</td>
                    <td>416 т.</td>
                </tr>
                <tr>
                    <td>Христо Блажев</td>
                    <td>246 т.</td>
                </tr>
                <tr>
                    <td>Кристина Илиева</td>
                    <td>197 т.</td>
                </tr>
                <tr>
                    <td>Павлина Христова</td>
                    <td>193 т.</td>
                </tr>
                <tr>
                    <td>Майкъл Бъртън</td>
                    <td>177 т.</td>
                </tr>
                <tr>
                    <td>Иван Иванов</td>
                    <td>140 т.</td>
                </tr>
                <tr>
                    <td>Иванка Недялкова</td>
                    <td>117 т.</td>
                </tr>
                <tr>
                    <td>Георги Евстатиев</td>
                    <td>121 т.</td>
                </tr>
                <tr>
                    <td>Йотко Иванов от София</td>
                    <td>102 т.</td>
                </tr>
                <tr>
                    <td>Цецка Стоянова</td>
                    <td>140 т.</td>
                </tr>
                <tr>
                    <td>Мариела Бранкова</td>
                    <td>101 т.</td>
                </tr>
                <tr>
                    <td rowspan="3" class="vertical-align-middle">Аспарух Лисов</td>
                    <td>84 грамофонни плочи</td>
                </tr>
                <tr>
                    <td class="lib-cell-corrector">19 т.</td>
                </tr>
                <tr>
                    <td class="lib-cell-corrector">27 CD</td>
                </tr>
                <tr>
                    <td>Наталия Крачунова</td>
                    <td>67 т.</td>
                </tr>
                <tr>
                    <td>Хр. и Д. Николови</td>
                    <td>61 т.</td>
                </tr>
                <tr>
                    <td>Ваня Иванова</td>
                    <td>61 т.</td>
                </tr>
                <tr>
                    <td>Цветана Тошева</td>
                    <td>55 т.</td>
                </tr>
                <tr>
                    <td>Светослав Трайков</td>
                    <td>47 т.</td>
                </tr>
                <tr>
                    <td>Снежина Николова</td>
                    <td>42 т.</td>
                </tr>
                <tr>
                    <td>Красимир Кирилов</td>
                    <td>40 т.</td>
                </tr>
                <tr>
                    <td>Белоградчишки епископ Поликарп</td>
                    <td>38 т.</td>
                </tr>
                <tr>
                    <td>Георги Любенов</td>
                    <td>37 т.</td>
                </tr>
                <tr>
                    <td>Венетка Стефанова</td>
                    <td>36 т.</td>
                </tr>
                <tr>
                    <td>Боряна Дикова</td>
                    <td>35 т.</td>
                </tr>
                <tr>
                    <td>Д-р Тодор Вълов</td>
                    <td>35 т.</td>
                </tr>
                <tr>
                    <td>Габриела Иванова</td>
                    <td>31 т.</td>
                </tr>
                <tr>
                    <td>Аспарух Лисов</td>
                    <td>31 т.</td>
                </tr>
                <tr>
                    <td>Василка Иванова</td>
                    <td>30 т.</td>
                </tr>
                <tr>
                    <td>Тихомир Славчев</td>
                    <td>30 т.</td>
                </tr>
                <tr>
                    <td>Даниела Кечашка</td>
                    <td>30 т.</td>
                </tr>
                <tr>
                    <td>Атанас Панчев</td>
                    <td>30 т.</td>
                </tr>
                <tr>
                    <td>Красимира Пантева</td>
                    <td>29 т.</td>
                </tr>
                <tr>
                    <td>Валентин Димитров</td>
                    <td>28 т.</td>
                </tr>
                <tr>
                    <td>Станка Станкова</td>
                    <td>27 т.</td>
                </tr>
                <tr>
                    <td>Владимир Иванов</td>
                    <td>22 т.</td>
                </tr>
                <tr>
                    <td>Боян Братков</td>
                    <td>22 т.</td>
                </tr>
                <tr>
                    <td>Лилия Йовчева</td>
                    <td>22 т.</td>
                </tr>
                <tr>
                    <td>Пепа Ангелова</td>
                    <td>21 т.</td>
                </tr>
                <tr>
                    <td>Петър Петров</td>
                    <td>21 т.</td>
                </tr>
                <tr>
                    <td>Олга Иванова</td>
                    <td>20 т.</td>
                </tr>
                <tr>
                    <td>Владислава Димитрова</td>
                    <td>19 т.</td>
                </tr>
                <tr>
                    <td>Десислава Димитрова</td>
                    <td>19 т.</td>
                </tr>
                <tr>
                    <td>Людмил Николов</td>
                    <td>19 т.</td>
                </tr>
                <tr>
                    <td>Нина Йосифова</td>
                    <td>18 т.</td>
                </tr>
                <tr>
                    <td>Александър Руденко</td>
                    <td>17 т.</td>
                </tr>
                <tr>
                    <td>Александър Миланов</td>
                    <td>15 т.</td>
                </tr>
                <tr>
                    <td>Антония Макавеева</td>
                    <td>15 т.</td>
                </tr>
                <tr>
                    <td>Милена Гергова</td>
                    <td>15 т.</td>
                </tr>
                <tr>
                    <td>Емили Славчева</td>
                    <td>14 т.</td>
                </tr>
                <tr>
                    <td>Карамфила Петрова</td>
                    <td>14 т.</td>
                </tr>
                <tr>
                    <td>Димитрина Панчева</td>
                    <td>13 т.</td>
                </tr>
                <tr>
                    <td>Симеон Иванов</td>
                    <td>13 т.</td>
                </tr>
                <tr>
                    <td>Лъчезар Еленков</td>
                    <td>12 т.</td>
                </tr>
                <tr>
                    <td>Весела Микова</td>
                    <td>12 т.</td>
                </tr>
                <tr>
                    <td> Митанка Тодорова</td>
                    <td>12 т.</td>
                </tr>
                <tr>
                    <td>Цветана Захариева</td>
                    <td>10 т.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    <div class="row text-center">
        <a id="link1" href="#"><p class="lib-arrow-up glyphicon glyphicon-arrow-up text-center"></p></a>
    </div>
