@{
    ViewData["Title"] = "Ecatalogue";
}
<div class="row text-center">
    <h2>Електронни Каталози</h2>
</div>
<div class="row text-center">
    <h3 class="mr-t-b-25"><a href="http://178.239.224.218/absw/abs.htm" class="bold second-color">ЕЛЕКТРОНЕН КАТАЛОГ РБ "М. ГЕОРГИЕВ" ВИДИН</a></h3>
</div>
<div class="row text-center">
   <h3><a href="http://www.pc-tm.com/docs/pc-tm-ic_08.htm" class="bold second-color">ДРУГИ Е-КАТАЛОЗИ</a></h3>
</div>
