@{
    ViewData["Title"] = "Издания";
    ViewData["Description"] = "Списък с всички книги издадени от Регионална библиотека \"Михалаки Георгиев\" -гр. Видин.";
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row width-85pr mr-0-auto">
    <h3 class="text-center mr-t-b-25">От 1966 до сега Регионална библиотека „Михалаки Георгиев” има над 140 библиографски издания</h3>
    <div class="text-justify mr-t-b-25 min-h-150">
        <a class="image-popup-vertical-fit" href="/images/SiteImages/ed1.gif" Title="Михалаки Георгиев : Биобиблиография">
            <img class="width-150 float-left mr-8 img-border" src="/images/SiteImages/ed1.gif" alt="Михалаки Георгиев : Биобиблиография" />
        </a>
        <p><span class="bold">Михалаки Георгиев : Биобиблиография</span> / Състав. Савина Димитрова . - Видин : Рег. библ. Мих. Георгиев, 2001. - 76 с.</p>
        <p>Издадена по повод 150 годишнината от рождението на писателя, публицист и общественик Михалаки Георгиев - патрон на Регионалната библиотека във Видин.</p>
    </div>
    <div class="text-justify mr-t-b-25 min-h-150">
        <a class="image-popup-vertical-fit" href="/images/SiteImages/ed2.gif" Title="135 години Регионална библиотека „Михалаки Георгиев” Видин">
            <img class="width-150 float-left mr-8 img-border" src="/images/SiteImages/ed2.gif" alt="135 години Регионална библиотека „Михалаки Георгиев” Видин" />
        </a>
        <p><span class="bold">[Сто тридесет и пет] 135 години Регионална библиотека „Михалаки Георгиев” Видин : Летопис</span> / Състав. Цеца Михайлова, Савина Димитрова . - Видин : Рег. библ. Мих. Георгиев, 2005. - 88 с.</p>
        <p>Изданието е подготвено и издадено по повод 135-годишнината от създаването на първата библиотека в гр. Видин и включва подборно най-важните събития, установени задължително от първоизточници и цели да покаже многогодишната народополезна дейност на институцията и нейния принос в културната история на града.</p>
    </div>
    <div class="text-justify mr-t-b-25 min-h-150">
        <a class="image-popup-vertical-fit" href="/images/SiteImages/ed3.JPG" Title="Генади Вълчев Ганчев : Биобиблиография">
            <img class="width-150 float-left mr-8 img-border" src="/images/SiteImages/ed3.JPG" alt="Генади Вълчев Ганчев : Биобиблиография" />
        </a>
        <p><span class="bold">Генади Вълчев Ганчев : Биобиблиография</span> / Състав. Цветана Божкова, Цецка Михайлова . - 2 прераб. и доп. изд. - Видин : Рег. библ. Мих. Георгиев, 2006. - 73 с.</p>
        <p>Биобиблиографията се издава по повод 75 години от рождението на известния краевед Генади Вълчев Ганчев. Целта е читателите да се запознаят с неговото краеведското творчество и с историята на родния край. Съдържа биографични данни за автора, негови книги, рецензии и литературно-критически анализи за тях, негови статии, поместени в печата и публикации за него в местните издания.</p>
    </div>
    <div class="text-justify mr-t-b-25 min-h-150">
        <a class="image-popup-vertical-fit" href="/images/SiteImages/ed4.gif" Title="Искри от огнището : Легенди и предания от Видинския край">
            <img class="width-150 float-left mr-8 img-border" src="/images/SiteImages/ed4.gif" alt="Искри от огнището : Легенди и предания от Видинския край" />
        </a>
        <p><span class="bold">Искри от огнището : Легенди и предания от Видинския край</span> / Състав. Недка Николова . - Видин : Рег. библ. Мих. Георгиев, 2006. - 101 с.</p>
        <p>Изданието съдържа оригинални творби, съхранили и героизирали имена и случки от далечното минало и запазили до наши дни и за бъдещите поколения едни от най-хубавите легенди и предания за нашия край, показващи духовните качества на българите: любов към род, родина и родна реч, към бащино огнище, към мирен труд, живот и вяра.</p>
    </div>
    <div class="text-justify mr-t-b-25 min-h-150">
        <a class="image-popup-vertical-fit" href="/images/SiteImages/ed5.gif" Title="Почетни граждани на Видин 1886-2007 : Биобиблиографски указател">
            <img class="width-150 float-left mr-8 img-border" src="/images/SiteImages/ed5.gif" alt="Почетни граждани на Видин 1886-2007 : Биобиблиографски указател" />
        </a>
        <p><span class="bold">Почетни граждани на Видин 1886-2007 : Биобиблиографски указател</span> / Състав. Недка Николова . - Видин : Рег. библ. Мих. Георгиев, 2007. - 216 с. : с портр. </p>
        <p> По случай 121 години от учредяването на званието „Почетен гражданин на Видин” от Видинското градско общинско управление.</p>
    </div>
    <div class="text-justify mr-t-b-25 min-h-150">
        <a class="image-popup-vertical-fit" href="/images/SiteImages/ed6.jpg" Title="Петков, Иван. Село Вълчек : Исторически очерк в документи, спомени и легенди">
            <img class="width-150 float-left mr-8 img-border" src="/images/SiteImages/ed6.jpg" alt="Петков, Иван. Село Вълчек : Исторически очерк в документи, спомени и легенди" />
        </a>
        <p><span class="bold">Петков, Иван. Село Вълчек : Исторически очерк в документи, спомени и легенди</span> / Иван Петков; Показалци и библиогр. ред. Цецка Михайлова . - Видин : Рег. библ. Мих. Георгиев, 2007. - 151 с.</p>
        <p>Авторът на книгата е роден в с. Вълчек. В нея той разказва за миналото на селото, за живота и седемвековната история на неговите жители, описвайки ги като патриоти, горди, трудолюбиви, честни. Стреми се да покаже скромното, но значимо място на селото в Северозападна България.</p>
    </div>
    <div class="text-justify mr-t-b-25 min-h-150">
        <a class="image-popup-vertical-fit" href="/images/SiteImages/ed7.jpg" Title="Съкровищница на писаното слово и човешката памет : Юбилейно издание">
            <img class="width-150 float-left mr-8 img-border" src="/images/SiteImages/ed7.jpg" alt="Съкровищница на писаното слово и човешката памет : Юбилейно издание" />
        </a>
        <p><span class="bold">Съкровищница на писаното слово и човешката памет : Юбилейно издание</span> / Състав. Цецка Михайлова, Недка Николова, Гергана Панова, Десислава Иванова . - Видин : Рег. библ. Мих. Георгиев, 2009. - 132 с. : с ил.</p>
        <p>Юбилейно издание, посветено на 50-годишнината от обявяването на библиотеката при читалище „Цвят” във Видин за Окръжна методическа библиотека и на всички нейни сътрудници, работили през годините и дали своя принос за израстването и като водеща културна институция в региона.</p>
    </div>
    <div class="text-justify mr-t-b-25 min-h-150">
        <a class="image-popup-vertical-fit" href="/images/SiteImages/ed8.jpg" Title="Митрополит Антим Видински : Първи Български екзарх : Биобиблиография">
            <img class="width-150 float-left mr-8 img-border" src="/images/SiteImages/ed8.jpg" alt="Митрополит Антим Видински : Първи Български екзарх : Биобиблиография" />
        </a>
        <p><span class="bold">Митрополит Антим Видински : Първи Български екзарх : Биобиблиография</span> / Състав. Недка Николова, Савина Димитрова, Христина Ставрева . - 2. прераб. и доп. изд. - Видин : Рег. библ. Мих. Георгиев, 2013. - 119 с.</p>
        <p>Биобиблиографията се издава по повод 145 години от ръкополагането на Антим Видински за митрополит във Видин и отделянето на Видинска епархия от Цариградската патриаршия, и 125 години от смъртта му. Целта е да се отразят всички материали за него чрез публикации в книги и в периодичния печат.</p>
    </div>
    <div class="text-justify mr-t-b-25 min-h-150">
        <a class="image-popup-vertical-fit" href="/images/SiteImages/ed9.jpg" Title="Лято в рими : Стихове">
            <img class="width-150 float-left mr-8 img-border" src="/images/SiteImages/ed9.jpg" alt="Лято в рими : Стихове" />
        </a>
        <p><span class="bold">Лято в рими : Стихове</span> / Състав. Десислава Иванова, Адриана Цветкова . - Видин : Рег. библ. Мих. Георгиев, 2013. - 24 с. : с цв. ил.</p>
        <p>Книгата е издадена по повод 1 ноември – Деня на народните будители и включва стихове и рисунки на деца.</p>
    </div>
    <div class="text-justify mr-t-b-25 min-h-150">
        <a class="image-popup-vertical-fit" href="/images/SiteImages/ed10.jpg" Title="Христо Лишков : Библиографски указател">
            <img class="width-150 float-left mr-8 img-border" src="/images/SiteImages/ed10.jpg" alt="Христо Лишков : Библиографски указател" />
        </a>
        <p><span class="bold">Христо Лишков : Библиографски указател</span> / Състав. Недка Николова . - Видин : Рег. библ. Мих. Георгиев, 2014. - 96 с.</p>
        <p>Библиографският указател има за цел да представи творческия и изследователския принос на Христо Лишков в областта на краезнанието, в издирването и публикуването на данни за историческото, стопанско и културно развитие на гр. Видин, и за личностите, свързали живота и дейността си с града и допринесли за неговото развитие.</p>
    </div>
    <div class="text-justify mr-t-b-25 min-h-150">
        <a class="image-popup-vertical-fit" href="/images/SiteImages/ed11.jpg" Title="Диана Сиракова : Библиографски указател">
            <img class="width-150 float-left mr-8 img-border" src="/images/SiteImages/ed11.jpg" alt="Диана Сиракова : Библиографски указател" />
        </a>
        <p><span class="bold">Диана Сиракова : Библиографски указател</span> / Състав. Недка Николова . - Видин : Рег. библ. Мих. Георгиев, 2015. - 78 с. : с ил.</p>
        <p>Библиографският указател се издава по повод 60-годишнината на Диана Сиракова и има за цел да представи нейното творчество и журналистическа дейност.</p>
    </div>
    <div class="text-justify mr-t-b-25 min-h-150">
        <a class="image-popup-vertical-fit" href="/images/SiteImages/ed12.jpg" Title="145 години Регионална библиотека Михалаки Георгиев – град Видин : Летопис">
            <img class="width-150 float-left mr-8 img-border" src="/images/SiteImages/ed12.jpg" alt="145 години Регионална библиотека Михалаки Георгиев – град Видин : Летопис" />
        </a>
        <p><span class="bold">[Сто четиридесет и пет] 145 години Регионална библиотека Михалаки Георгиев – град Видин</span> : Летопис /  Състав. Наталия Николова . - Видин : Рег. библ. Мих. Георгиев, 2015. - 134 с. : цв. ил.</p>
        <p>Летописът се издава по повод 145 години от създаването на първата библиотека в гр. Видин    , през 1870 г., която е била част от читалище „Цвят”, и 15 години от обявяването й, през 2000 г., за Регионална (зонална) и методичен център за библиотеките в Северозападна България</p>
    </div>
    <div class="text-justify mr-t-b-25 min-h-150">
        <a class="image-popup-vertical-fit" href="/images/SiteImages/ed13.jpg" Title="Лора Владимирова : Библиографски указател">
            <img class="width-150 float-left mr-8 img-border" src="/images/SiteImages/ed13.jpg" alt="Лора Владимирова : Библиографски указател" />
        </a>
        <p><span class="bold">Лора Владимирова : Библиографски указател</span> /  Състав. Наталия Николова . - Видин : Рег. библ. Мих. Георгиев, 2016. - 160 с.</p>
        <p>Библиографският указател се издава по повод 75-годишнината на Лора Владимирова и има за цел да представи нейното творчество и журналистическа дейност.</p>
    </div>
</div>

