@{
    ViewData["Title"] = "Faq";
}
<div class="row text-center">
    <h2>Често задавани въпроси</h2>
</div>

<div class="row p-10 width-60pr mr-0-auto">
    <p class="bold">Как да стана читател?</p>
    <p class="text-justify">
        Можете да се регистрирате при нас с документ за самоличност за срок от една година или един/пет дни.
        За повече информация вижте нашия <a asp-controller="Home" asp-action="PriceList">ценоразпис</a>.
    </p>
    <p class="bold">Как да взема книга?</p>
    <p>
        Книги за дома или на място се ползват след представяне на лична читателска карта.
    </p>
    <p class="bold">Как да презапиша книга?</p>
    <p>Можете да презапишете книга на място в библиотеката или по <a asp-controller="Home" asp-action="Contact">електронна поща и телефон</a>.</p>
    <p class="bold">Как да поръчам книга от друга библиотека?</p>
    <p>
        Библиотеката предлага услугата Междубиблиотечно заемане. За да се възползвате от тази услуга се обърнете към отдел „Читални”. Напишете ни на rbmg@abv.bg или се обадете на тел. 08799402 77
    </p>
    <p class="bold">Как да ви намеря?</p>
    <p>Обадете ни се на телефон 094/601 704, 094/604 702, пишете на e-mail libvidin@vidin.net или  <a asp-controller="Home" asp-action="Contact">елате на място</a>.</p>
</div>