
@{
    ViewData["Title"] = "ForTheEnthusiasts";
}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="text-center mr-t-b-25">За любителя</h2>
        <div class="text-center mr-t-b-25">
            <p>А Вас сладури малки,
            <p>чакат Ви приказки и занимавки.</p>
            <p>В детският отдел ела,</p>
            <p>да се забавляваш ти сега.</p>
            <p>Тук приятелче си намери,</p>
            <p>за приказки и весели игри.</p>
        </div>
        <p class="text-justify">Мили любопитковци, каним Ви да дойдете при нас. Тук ще Ви предложим много интересни енциклопедии и книги в който ще намерите любопитни факти и нови и нови неща. Време е за едно дълго и увлекателно пътешествие. Ще посетите света на приказките от известни български и чужди автори,ще се запознаете и с много народи – съвременни държави и древни цивилизации. При нас ще научите как се е появил светът, слънцето, дъждът, компютърът… Знаете ли всичко за животните, растенията - елате при нас, сега е моментът да научите всичко.</p>
        <div class="text-center mr-t-b-25">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/fe1.jpg" Title="Книжки">
                <img class="width-46pr mr-8 img-border" src="/images/SiteImages/fe1.jpg" alt="Книжки" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/fe2.jpg" Title="Игри">
                <img class="width-46pr mr-8 img-border" src="/images/SiteImages/fe2.jpg" alt="Игри" />
            </a>
        </div>
        <div class="text-center mr-t-b-25">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/fe3.jpg" Title="Книжки">
                <img class="width-46pr mr-8 img-border" src="/images/SiteImages/fe3.jpg" alt="Книжки" />
            </a>
        </div>
    </div>
</div>
