
@{
    ViewData["Title"] = "ForTheStudents";
}

<h2 class="text-center mr-t-b-25">За Ученика</h2>

<div class="row text-center">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p class="text-justify">При нас може да намерите както художествена и научна литература, така и учебно-помощна литература, речници, образователни вестници и списания.  Тези материали могат да Ви помогнат за получаване на допълнителна информация, за изготвяне на проекти и домашни работи, подготовка за изпити, тестове и матури</p>
        <h3 class="mr-t-b-25">Първа възрастова група</h3>
        <p class="text-justify">Четете на детето дори когато то все още не може да говори. В Детският отдел на регионална библиотека „Михалаки Георгиев” ще Ви предложим богат избор от книги с кратки илюстрирани приказки, панорамни книжки и стихчета, дори и за най –малките. Не спирайте да четете. Покажете му света на знанието и възпитайте в детето си любовта към книгата. Тя ще допринесе вашето дете да израсне, като можещо и мислещо. А Вие да сте горди родители.</p>
        <div class="text-center">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/fs1.jpg">
                <img class="width-150 mr-8 img-border mr-t-b-25" src="/images/SiteImages/fs1.jpg" alt="Деца в библиотеката" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/fs2.jpg" title="Детски книжки">
                <img class="width-150 mr-8 img-border mr-t-b-25" src="/images/SiteImages/fs2.jpg" alt="Детски книжки" />
            </a>
        </div>
        <h3 class="mr-t-b-25">Втора възрастова група</h3>
        <p>Списъци за лятно четене за 2-ри, 3-ти и 4-ти клас.</p>
        <div class="text-center">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/fs3.jpg" title="Списък за лятно четене за 2. клас">
                <img class="width-150 mr-8 img-border mr-t-b-25" src="/images/SiteImages/fs3.jpg" alt="Списък за лятно четене за 2. клас" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/fs4.jpg" title="Списък за лятно четене за 3. клас">
                <img class="width-150 mr-8 img-border mr-t-b-25" src="/images/SiteImages/fs4.jpg" alt="Списък за лятно четене за 3. клас" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/fs5.jpg" title="Списък за лятно четене за 4. клас">
                <img class="width-150 mr-8 img-border mr-t-b-25" src="/images/SiteImages/fs5.jpg" alt="Списък за лятно четене за 4. клас" />
            </a>
        </div>
        <h3 class="mr-t-b-25">Трета възрастова група</h3>
        <p>Списъци за лятно четене за 5-ти, 6-ти и 7-ми клас.</p>
        <div class="text-center">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/fs6.jpg" title="Списък за лятно четене за 5. клас">
                <img class="width-150 mr-8 img-border mr-t-b-25" src="/images/SiteImages/fs6.jpg" alt="Списък за лятно четене за 5. клас" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/fs7.jpg" title="Списък за лятно четене за 6. клас">
                <img class="width-150 mr-8 img-border mr-t-b-25" src="/images/SiteImages/fs7.jpg" alt="Списък за лятно четене за 6. клас" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/fs8.jpg" title="Списък за лятно четене за 7. клас">
                <img class="width-150 mr-8 img-border mr-t-b-25" src="/images/SiteImages/fs8.jpg" alt="Списък за лятно четене за 7. клас" />
            </a>
        </div>
    </div>
</div>
