@{
    ViewData["Title"] = "Functions";
}
<div class="row text-center">
    <h2>Функции на библиотеката</h2>
</div>
<div class="row text-justify width-75pr mr-0-auto">
    <p>Функциите на Регионална библиотека „Михалаки Георгиев” – Видин се определят от чл.27, ал.1 от Закона за обществените библиотеки и ПМС № 153 от 20.07.2000 г., според които Регионалните библиотеки:</p>
    <ol>
        <li class="mb-10">Събират, съхраняват, обработват, организират и предоставят за ползване библиотечен фонд;</li>
        <li class="mb-10">Извършват библиотечно-информационно обслужване, включително междубиблиотечно заемане, и координират организацията на библиотечно-информационното обслужване на територията на региона;</li>
        <li class="mb-10">Поддържат архив на краеведския печат и литература и координират събирането, съхраняването, организирането и разпространението на краеведска информация и библиография по краезнание;</li>
        <li class="mb-10">Осъществяват издателска дейност, изработват и разпространяват библиографски указатели, краеведски, информационни издания и други;</li>
        <li class="mb-10">Създават и развиват регионални автоматизирани библиотечно-информационни мрежи;</li>
        <li class="mb-10">Извършват координационна, експертно-консултантска и квалификационна дейност за библиотеките от региона;</li>
        <li class="mb-10">Организират и провеждат културно-образователни инициативи;</li>
        <li class="mb-10">Разработват и участват в програми и проекти;</li>
        <li class="mb-10">Оказват съдействие на общинската администрация при реализиране на културната политика в областта на библиотечното дело;</li>
        <li class="mb-10">Събират и обработват статистическа информация и поддържат бази данни за библиотеките от региона.</li>
    </ol>
</div>

