@{
    ViewData["Title"] = "History";
}

<div class="row text-center">
    <h2>История</h2>
</div>
<div class="row">
    <a id="link1" href="#">
        <div id="floater">
            <p class="glyphicon glyphicon-arrow-up"></p>
        </div>
    </a>
</div>
<div id="scroll-id1" class="row p-10-table">
<table class="table table-condensed table-hover table-responsive">
<thead>
<tr>
    <th>Година</th>
    <th>Събитие</th>
    <th>Източник</th>
</tr>
</thead>
<tbody>
<tr>
    <td class="text-center vertical-align-middle">1863 г.</td>
    <td>
        <p>
            Първи сведения за библиотека в гр. Видин дава бележка във в. “Българска пчела”, от същата година, която сочи, че местното началство (турците) прибрало книгите на Видинското читалище. Поради този факт, а и поради това, че били затворени някои граждани, читалището преустановява своята дейност и се открива официално през м. март 1870 г.
        </p>
    </td>
    <td>в. “Българска пчела”, №2, 7 юни 1863 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1869 г.</td>
    <td>
        <p>
            Учениците на Костаки Търновски основават библиотека в гр. Видин, но началото на дейността й датира от средата на м. март 1870 г., когато официално се открива читалище “Цвят”.
        </p>
        <p>
            Настоящата Регионална библиотека “Михалаки Георгиев” е наследник на тази библиотека.
        </p>
    </td>
    <td>“История на читалище “Цвят”</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">март 1870 г.</td>
    <td>
        <p>Официално се открива читалище “Цвят“, което е играло важна роля в културно-просветното Възраждане на Видинския край още преди Освобождението. В стремежа си да обзаведе богата библиотека, читалището е било във връзка с Книжовното дружество в гр. Браила – Румъния, с редакцията на в. “Дунав” – Русе, с Букурещ и Цариград, с П. Р. Славейков, Хр. Г. Данов и с други просветители. Още на 15.09.1870 г. е уведомило Цариградското читалище за своето основаване и го е замолила да абонира за всички вестници и списания, които са излизали в Цариград.</p>
    </td>
    <td>“История на читалище “Цвят”</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1871 г.</td>
    <td>
        <p>Главното Руско консулство в град Русе подарява на библиотеката 174 книги.</p>
    </td>
    <td>“Документален сборник на читалище “Цвят”, съхр. в ДА - Видин. Свидетелство за дарение – с. 66.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1906 г.</td>
    <td>
        <p>Взема се решение на настоятелството за преместване на читалищната библиотека от стаята (която е необходима на училището) в театралното здание, ако кметството направи всички удобства, за да се приспособи за библиотека салона на театралното здание (Театър “Вида”).</p>
    </td>
    <td>Протокол №22, август 1906 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1907 г.</td>
    <td>
        <p>С решение на настоятелството от 10 март 1907 г. се разрешава на учениците от гимназията да посещават читалнята.</p>
    </td>
    <td>Протокол №41/10.03.1907 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1909 г.</td>
    <td>
        <p>
            Касиерът отпуска необходимите суми за снабдяване на библиотеката със:
        </p>
        <p>
            а) книга за вписване даваните за домашно четене книги;
        </p>
        <p>
            б)нови систематични каталози, които да заменят досегашните и то по-малки и за всеки отдел по отделно.
        </p>
    </td>
    <td>Протокол №34, 26.01.1909 г. с. 137</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1913 г.</td>
    <td>
        <p>
            Затваря се библиотеката и читалнята “...пред вид, че холерната епидемия застрашава да вземе големи размери и че е необходимо да се затвори читалнята, в която дохождат хора от сички съсловия и места в града...”. Затова се реши да: “затвори от днес (11 септ.) да 15 септ. Включително читалнята, за което да се съобщи съ обявление на вратата и да се преустанови до 18 същия месец даването на книги от читалищната библиотека.”
            Библиотекар е Ал. Игнатиев.
        </p>
    </td>
    <td>Протокол №4/11.09.1913</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1914 г.</td>
    <td>Библиотеката е раздала за прочит 1 765 т. на 244 читатели.</td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1925 г.</td>
    <td>
        <p>Ярка следа в дейността на библиотеката оставя Енчо К. Нешев, постъпил като библиотекар-уредник същата година и работил в нея повече от 30 години.</p>
        <p>В Протокол №7 от 26.10.1925 г., в точка 6-та от дневния ред четем: “Да се достави и изплати от касиера, една печка за каменни въглища с кюнци за библиотеката на сума 1 200 лв.“</p>
    </td>
    <td>Протокол №7 от 26.10.1925 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1926 г.</td>
    <td>
        <p>За отчетната 1926 г.: “Разход за вестници, книги и списания са похарчени 12 842 лв.”.</p></td>
    <td>Протокол №21 от 1 май 1927 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1927 г.</td>
    <td>
        <p>В годишния отчет за 1927 г. се цитира:”прочетени 2974 книги. За закупуване на книги, вестници и списания – 5 824 лв.”</p>
        <p>
            Провежда се извънредно общо събрание на читалището, на което се приема Устав на читалището, в който четем: “VI. Библиотека и читалня
            Чл. 49. За обзавеждане и правилно ползване на читалищната библиотека и читалня, настоятелството назначава библиотекар, правата и длъжностите на който са следните:
        </p>
        <ol>
            <li>Грижи се за уредбата и обзавеждането на библиотеката и читалнята.</li>
            <li>Грижи се за целесъобразното и планомерно използуване на членовете на библиотечния имот.</li>
            <li>Завежда библиотечния инвентар, основния, азбучния, систематичния, предметния, проверочния (топографически) и др. каталози.</li>
            <li>Води разписките за взетите за домашно четене книги.</li>
            <li>Води книгата въ която се вписват вкратце съдържанието на държаните беседи, сказки, реферати и пр.</li>
            <li>За всяко тримесечие и въ края на годината представя на настоятелството обстоен доклад за вървежа и състоянието на библиотеката и читалнята, както и доклад за необходимите за набавяне въ библиотеката книги, списания и вестници и др.</li>
            <li>Отговаря материално за изгубените книги в случай, че не може да посочи виновни лица.” </li>
        </ol>
    </td>
    <td>Протокол №22, 25.12.1927 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1929 г.</td>
    <td>
        <p>Библиотеката има 8 894 т. фонд. През същата година новозакупените книги са 634 т., подарените 50 т., а раздадените за прочит 3 626 т. на 2 243 четци (читатели).</p>
        <p>Зоя Симова е подарила на библиотеката сп. “Илустрасион” за 1924 и 1925 г.</p>
    </td>
    <td>Протокол №5, 6.04.1930 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1932 г.</td>
    <td>
        <p>“Само читалището предлага срещу 5 лв. членски внос да четат колкото книги искат и то от всека област на науката.”</p>
    </td>
    <td>Протокол №4/22.04.1933 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle"> 4 фев. 1933 г.</td>
    <td>Библиотекар е Енчо Нешев.</td>
    <td>Протокол от 04.02. 1933 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">2 ноем. 1933 г.</td>
    <td>
        <p>Министерството на Народната просвета дарява на библиотеката 68 книги на български и чужди езици, придружени с писмо №31659 от 02.11.1933 г.</p>
    </td>
    <td>Протокол №14, 07.11.1933 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">31 дек. 1933 г.</td>
    <td>
        <p>Към 31.12.1933 г. библиотеката има на свободен достъп 9 695 т.</p>
    </td>
    <td>Протокол №7, 24.04.1935 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1934 г.</td>
    <td>
        <p>Получаваните в читалнята 42 списания и 18 вестника са изложени на свободно ползване.</p>
        <p>През годината са взети за прочит 9 628 т., новозакупени 147 т., подвързани 605 книги, подлепени стари 228 т.</p>
    </td>
    <td>Протокол №8, 11.05.1934 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1934 г.</td>
    <td>
        <p>Споменава се за библиотека и читалня (на свободен достъп). Читалнята е била отворена през зимния сезон: от 7 ч. сутринта до 8 ч. вечерта, а през летния от: 6 ч. сутринта до 9 часа вечерта.</p>
        <p>Към 31.12.1934 г. на свободен достъп има 10 239 т., за домашен прочит – 9682 т.</p>
        <p>Новонабавените книги са 600 т. и са били пуснати за прочит около 500 неподвързани.</p>
    </td>
    <td>Протокол №7, 24.04.1935 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1938 г.</td>
    <td>
        <p>За първи път в историята на библиотеката е гласуван 15 дневен домашен отпуск за библиотекаря Енчо Нешев (по домашни причини), “като през това време до завръщането му на работа, библиотеката да бъде затворена, тъй като не може да се остави друго лице да го замества”.</p>
    </td>
    <td>Протокол №17/15.08.1938 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">4 март 1942 г.</td>
    <td>
        <p>Наводнението от 4 март 1942 г. в гр. Видин е унищожило и повредило 414 тома книги.</p>
    </td>
    <td>Протокол №5/28.03.1944 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1942 г.</td>
    <td>
        <p>“ Да се изнесат от библиотеката книгите на тавана на читалищната постройка, тъй като мухлясват от влагата и могат да се повредят подвързиите на всичките книги.”</p>
        <p> “Касиера Милко Витски да провери и докладва на следващото заседание, колко пари биха стигнали за довършване на читалищната сграда, където да се нареди библиотеката и читалнята, тъй като в сегашното помещение е невъзможно да се държат книгите.”</p>
    </td>
    <td>Протокол №8, 29 юни 1942 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1942 г.</td>
    <td>
        <p>“Поради наводнението за вреди на библиотеката и мебели е отпусната сумата 1 300 000 лв. Читалищното настоятелство решава: горната сума да се употреби за изплащане на задълженията на читалището, като гаранционните полици бъдат унищожени, а останалата сума да се употреби за довършване на читалищната сграда.”</p>
    </td>
    <td>Протокол №9, 19.08.1942 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">28 март 1944 г.</td>
    <td>
        <p>Библиотеката е изместена на третия етаж в читалищната сграда и се обособява читалня.</p>
        <p>В библиотеката работят двама библиотекари – библиотекар-уредник, който получава заплатата си от Видинската градска община и помощник-библиотекар.</p>
        <p>Книжен фонд – 11 300 т., читатели – 503, раздадената литература е 23 846 т.</p>
        <p>През 1944 г. в читалнята са получавани 16 вестника и 62 списания.</p>
    </td>
    <td>Протокол №5, 28 март 1944 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1945 г.</td>
    <td>
        <p>Новонабавени книги – 2 000 тома, посещения – 7 144, раздадената литература е 29 769 т.</p>
        <p>Проведено е голямо четене на авторите: Андрей Гуляшки, Петко Здравков, Ангел Тодоров и Асен Ненов – Бдинец.</p>
    </td>
    <td>Протокол №15, 24 юли 1945 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">31 дек. 1946 г.</td>
    <td>
        <p>През 1946 г. читалище “Цвят” чества 77 години от основаването си. Пред Редовното годишно събрание за 1946 г., на 31.12.1946 г. изнася доклад Петко Здравков, председател на читалището. Дейността на библиотеката е отразена в доклада - книжният фонд е възлизал на 14 185 т., новозакупените книги са 2 049 т., от тях подвързаните са 1 124 т., посетителите са 30 389 души, а раздадената литература – 33 328 т. Читалището поддържа специална бройка “Подвързвач на книги”.</p>
        <p>В читалнята освен българската е получавана и съветска периодика. В отдела са изложени 40 списания и 25 вестника. Няма постоянна щатна бройка за читалнята.</p>
        <p>Същата е отворена всеки ден от 8.00 до 12.00 часа и от 14.00 до 19.00 часа.</p>
        <p>Към библиотеката са открити филиални библиотеки, пръв опит в страната за организирано обслужване по местоживеене – в кварталите “Кумбаир”, “Таш кюприя” и болницата.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1947 г.</td>
    <td>
        <p>Информация до Върховния читалищен съюз за извършена работа от 01.01.1947 – 01.10.1947 г.:</p>
        <ul>
            <li>Двама граждани са подарили по 100 хиляди лева за закупуване на книги.</li>
            <li>Учениците от Мъжката гимназия са подарили 321 книги.</li>
            <li>Ученичките от Девическата гимназия са подарили 211 книги.</li>
            <li>Челеби Пизанти е подарил 111 книги.</li>
            <li>Кр. Христов е подарил 100 книги.</li>
        </ul>
        <p>Или всичко 847 тома на стойност 110 000 лева.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1951 г.</td>
    <td>
        <p>Съставен е първият каталог на библиотеката.</p>
        <p>Кварталните библиотеки са 8.</p>
        <p>Фондът на библиотеката наброява 21 951 тома, а раздадената литература – 41 681 т. на 28 333 посетители. Закупените през тази година книги са 1239 т., а дарените 2 420 т.</p>
        <p>Най-редовни читатели са младежите и учащите се. Практикува се книгоносенето.</p>
    </td>
    <td>Протокол 15.02.1953 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1953 г.</td>
    <td>
        <p>С писмо № ІІ 4193 на КНИК – София от 17.10.1953 г. и потвърдено с Решение на Управителния съвет на читалище “Цвят” от 01.01.1954 г. библиотеката става методическа, като от тази дата се назначава и библиотекар-методист.</p>
    </td>
    <td>Протокол №23/28.11.1953 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1954 г.</td>
    <td>
        <p>Положено е началото на методическата дейност в библиотеката от методиста Асен Бондоков.
        <p> Библиотеката разполага с много добре уредена читалня.
        <p>Открити са пет квартални библиотеки, които разполагат с по 350 тома. Кварталните библиотеки по решение на УС са взели патрон и са били наименувани с имена на загинали антифашисти:</p>
        <p>Към МТС (Машинно-тракторна станция) - Видин читалищната библиотека открива подвижна библиотека, която обслужва трактористите и комбайнерите.</p>
        <p>За летуващите ученици в средношколските лагери в селата Св. Петър (дн. Дружба) и Димово, Белоградчишко, са били дадени за ползване две подвижни библиотеки със специално подбрана литература.</p>
        <p>Библиотеката провежда различни културно-масови инициативи. През 1954 г. се провеждат срещи с детските писатели М. Горчивкин, Цветан Ангелов и Марко Марчевски.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1955 г.</td>
    <td>
        <p>Библиотеката притежава фонд от 21 171 т. в началото на годината (Протокол №1/18.02.1955 г.) и от 29 375 т. в края й (Протокол №1/17.02.1956 г.). Новонабавените книги са 1708 т. на стойност 21 959 лв. Читателите са 4 051, а раздадената литература 96 256 т.</p>
        <p>Посещения – 39 255.</p>
        <p>Справки – 20.</p>
        <p>Библиотеката е получила дарение от митница Видин, което наброява 496 т.</p>
        <p>(Протокол №1/18.02.1955 г.).</p>
        <p>Открити са летни читални в градската градина и парк “Толбухин” (дн. “Владикина бахча”), а така също и читалня в самата читалищна сграда.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1956 г.</td>
    <td>
        <p>Създава се “Справочно-библиографската служба”, която започва библиографска дейност.</p>
        <p>В ТКЗС “Дунав” през м. юли е открита библиотека, а в “Градската градина” има лятна читалня и библиотека с 61 читатели и 150 т. раздадена литература.</p>
        <p>Подавач на книги е С. Нешева – тя извършва и индивидуална работа с читателите деца.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1 апр. 1959 г.</td>
    <td>
        <p>От 1 април 1959 г., съгласно новото административно-териториално деление на България и въз основа на споразумение между Националния съвет на ОФ и Министерството на просветата и културата, изразено с писмо №ІV – 972 от 21.02.1959 г. читалищната библиотека се обявява за “Окръжна” с методични функции (Окръжна методическа библиотека), а библиотечните работници преминават на издръжка към Окръжния народен съвет, където библиотеката има отделен бюджет, а нейната дейност се ръководи от читалището.</p>
        <p>Уредник на библиотеката е Асен Бондоков.</p>
        <p>Същата година, от 8 април, се слага началото на диференцираната работа с читателите – деца (в общата заемна).</p>
        <p>Обособява се и започва работа Справочно-библиографската служба”.</p>
        <p>Открити са 6 квартални и 7 подвижни библиотеки.</p>
    </td>
    <td>Протокол № 13, 01.12.1959 г.</td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1961 г.</td>
    <td>
        <p>През 1961 г. в библиотеката са работели 8 служители:</p>
        <p>1 завеждащ библиотека – Асен Бондоков,</p>
        <p>1 методист – Стефка Щипкова,</p>
        <p>3-ма библиотекари в “Заемна за възрастни” – Савина Попова, Грозданка Нисторова и Агнеса Обретенова, където се изпълнява културно-масовата работа и обработка и каталози,</p>
        <p>1 библиотекар в “Детската заемна” – Валентина Стойкова (по зам. Цветанка Цветкова),</p>
        <p>2-ма библиотекари – “Справочно-библиографска служба” и наблюдаещ читалня.</p>
        <p>В “Справочно-библиографската служба” работят Цветанка Иванова и Надежда Кръстева, които са работили едновременно и в “Читалнята”.</p>
        <p>Те са отговаряли за поддържането на следните каталози и картотеки:</p>
        <ul>
            <li>каталог на Справочно-библиографски отдел;</li>
            <li>тематична картотека на актуални теми;</li>
            <li>систематична картотека на рецензиите;</li>
            <li>систематична краеведческа картотека на рецензиите;</li>
            <li>систематична картотека на специалистите – 750 души.</li>
        </ul>
        <p>Направените от тях писмени справки са 95.</p>
        <p>Справочният фонд наброява 1 500 тома.</p>
        <p>По въпросите на краеведението работи Надежда Кръстева, която е преглеждала и описвала всичко от централната преса.</p>
        <p>За комплектуването, обработката и каталозите отговарят съвместно Савина Попова и Грозданка Нисторова от Заемна за възрастни и Валентина Стойкова от “Детски отдел”. Текущото комплектуване се прави по “Български книгопис”. Поддържат се две картотеки: текущо комплектуване и докомплектуване. През годината са закупени 12 755 т. Поддържа се : азбучен и систематичен каталог (през годината са подменени всички фиши, писани на ръка в тях).</p>
        <p>В Окръжна библиотека работи и един квартален библиотекар – Славка Буртева в “Детска заемна”. Валентина Стойкова поддържа каталозите в Заемната за деца – азбучен и систематичен.</p>
        <p>В рамките на “Седмицата на детската книга”, на библиотеката гостуват писателите: Теодоси Апостолов, Богдан Митев и Асен Калоянов. Бе проведен общоградски парад на книгата, в който участниците, костюмирани като любими герои от детските книги в своето парадно шествие пренасят зрителите в приказния свят на приказките.</p>
        <p>Организира се основен фонд на периодичните издания.</p>
        <p>Уреди се и книга за движение на библиотечния фонд.</p>
        <p>Читалището издържа на щат 7 квартални библиотекари, а фондовете им се комплектуват със средства от бюджета на Окръжна библиотека.</p>
        <p>Към централната библиотека има разкрити и 15 подвижни библиотеки.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1964 г.</td>
    <td>
        <p>Директор е Севда Спасова Рускова, а служителите на библиотеката са 9.</p>
        <p>Новонабавените книги са 12 746, посещенията 104 636, читателите са 10 317, а раздадените книги – 202 859 т.</p>
        <p>Към Централната библиотека има 2 подвижни библиотеки.</p>
        <p>Гости на “Седмицата на детската книга” през 1964 г. са писателите: Недялко Месечков, Александър Григоров и Виктория Русчева.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1965 г.</td>
    <td>
        <p>Разкрит е самостоятелен “Детски отдел” (с над 10 000 тома) в сградата на читалище “Цвят” – І етаж.</p>
        <p>Въведена е система за обслужване чрез “свободен достъп”. Изнесеният на свободен достъп фонд е 12 000 тома.</p>
        <p>Изработена схема за подреждане на фонда и систематичния каталог в читалнята.</p>
        <p>Преустроени са помещенията за свободен достъп в собствената сграда на читалище “Цвят”.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1966 г.</td>
    <td>
        <p>От месец февруари 1966 г. се обособява фондът на отдел “Краезнание” – архив на краеведската литература и местния печат.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1968 г.</td>
    <td>
        <p>Фондът на библиотеката вече е 160 000 тома, читателите 11 312, а раздадените книги са 230 859 при 85 457.</p>
        <p>Щатните длъжности в библиотеката са 11.</p>
        <p>Наличните помещения, преустроени за нуждите на Окръжна библиотека през 1965 г. са вече недостатъчни и неподходящи. Читалнята е много малка – само с 18 места, които не достигат за читателите. Нужда от разширяване има и “Детска заемна”. Липсват работни помещения за отделите – “Методичен”, “Справочно-библиографски” и “Краеведение”. Или с една дума Окръжна библиотека има нужда от нова сграда.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1969 г.</td>
    <td>
        <p>Разширяването на дейността на библиотеката и на нейния фонд налага нови пространствени условия.</p>
        <p>“Справочно-библиографската служба” и “Краеведението” се помещават в “Читалнята”, което пречи на работата. Битово зле е уреден методичния кабинет, обработка и каталози. “Детският отдел”, който е единствен на територията на окръга за работа с учащи се до 8-ми клас е сериозно притеснен.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1971 г.</td>
    <td>
        <p>Библиотеката продължава да работи при ограничени пространствени условия.</p>
        <p>“Детският отдел” е изведен извън сградата, където остават другите отдели на библиотеката.</p>
        <p>Оформен е азбучния каталог в две поредици – на българските и на руските книги. Изработен е каталог на музикалните издания.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">17 май 1972 г.</td>
    <td>
        <p>На 17 май по време на Международната година на книгата, се слага началото на инициативата “Ден на библиотекаря”, която се отбелязва ежегодно повече от 15 години.</p>
        <p>Започва дейност клубът “Млад приятел на книгата”, организиран от Йорданка Нанова – библиотекар в Заемна за възрастни.</p>
        <p>“Краеведението” все повече се налага като една от най-търсените и с голяма перспектива дейности в библиотеката и има нужда от целодневна щатна бройка и да се обособи като отделен сектор.</p>
        <p>Въведени са книги за движение на библиотечните фондове за всички отдели и филиали.</p>
        <p>Музикалният фонд е обогатен със 153 нови грамофонни плочи и 90 тома нотна литература.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1973 г.</td>
    <td>
        <p>Открита е нова услуга “Междубиблиотечна заемна служба” към отдел “Заемна за възрастни” в библиотеката.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1981 г.</td>
    <td>
        <p>Поставя се началото на “Дни на литературата за родния край”.</p>
        <p>“Справочно-библиографски отдел и краезнание” се обособяват в самостоятелно помещение, което е гаранция за разгърната дейност.</p>
        <p>“Читалнята” на библиотеката се премества също в сградата на бившия Градски народен съвет – ІІ етаж. Читателските места вече са 24.</p>
        <p>Обособява се и фонд на читалня “Точни и приложни науки”.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1984 г.</td>
    <td>
        <p>През 1984 г. за активна културно-просветна дейност и във връзка с 25-годишния й юбилей библиотеката е наградена с орден "Кирил и Методий" - І степен.</p>
        <p>Указ № 1430 на Държавния съвет на НР България</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1985 г.</td>
    <td>
        <p>Новият директор на библиотеката е Наташа Давидкова, назначена след пенсионирането на предишната Севда Рускова.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1986 г.</td>
    <td>
        <p>Открива се отдел “Изкуство”.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1987 г.</td>
    <td>
        <p>Във връзка с новото административно териториално деление на страната Окръжна библиотека се преименува в Универсална научна библиотека.</p>
        <p>Библиотечният фонд наброява 343 097 т.</p>
        <p>Функционират 6 квартални библиотеки и са разкрити 6 подвижни библиотеки.</p>
        <p>Продължава дейността си клубът “Млади приятели на библиотеката” към “Детски отдел”.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">май 1991 г.</td>
    <td>
        <p>С Решение №56 от 11.03.1991 г. и Решение №82 от 6.05.1991 г. на Временния изпълнителен комитет на Общинския съвет – гр. Видин на Универсална научна библиотека са подсигурени помещения с обща площ 2 000 кв. м. в сградата на Съдебната палата, където се намира и до днес.</p>
        <p>Това дава възможност всички звена на библиотеката да бъдат в една сграда, което осигурява осъществяването на по-добри функционални връзки.</p>
        <p>Създадени са значително по-добри условия за работа.</p>
        <p>Обособява се самостоятелна читалня “Периодика”.</p>
        <p>С допълнителни средства, отпуснати от отдел “Култура” към ОбС-Видин е закупен радиокасетофон с компактдиск за нуждите на отдел “Изкуство”.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1992 г.</td>
    <td>
        <p>С Протокол №10 от 21 май Общински съвет - Видин взема Решение №44 от 21 май за даване име на библиотеката във Видин. С тържество и водосвет, Универсална научна библиотека взема името на видния наш съгражданин, общественик и книжовен деец – Михалаки Георгиев.</p>
        <p> Фондация “Отворено общество” – София дарява на библиотеката фотокопирна машина.</p>
        <p>От м. октомври библиотеката има нов директор – Тодорка Владимирова Дончева, досегашен библиотекар в Заемна за възрастни.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">6 май 1993 г.</td>
    <td>
        <p>Библиотеката получава дарение от Българското представителство на Британския съвет у нас – 3 000 английски лири, с които са закупени 458 книги и 112 аудиокасети. На 6 май с тях е открита изложба от Дейвид Стоукс – директор на Представителството на Британския съвет.</p>
        <p>Със съдействието на отдел “Краезнание” се създава клуб “Видински краевед” с членове изявени краеведи от гр. Видин.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1994 г.</td>
    <td>
        <p>Направено е второ дарение от Британския съвет на стойност 1000 британски лири с книги и касети и абонамент за вестник “Гардиън” и списание “Практически английски за учители”.</p>
        <p>Обособен е фонд “Стари, редки и ценни издания”.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1995 г.</td>
    <td>
        <p>За трета поредна година Британският съвет отпуска 1 000 британски лири, с които да бъдат закупени от водещи британски издателства като “Лонгман”, “Оксфорд”, “Кембридж” ценни справочници и учебни помагала за изучаване на английски език.</p>
        <p>Въведена е непрекъснато работно време за отделите “Заемна за възрастни” и “Читалня”.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">31 ян. 1996 г.</td>
    <td>
        <p>На 31 януари 1996 г. е прието Постановление на МС №19 за приемане на Наредба за статута и дейността на библиотеките и за взаимоотношенията в Националната библиотечна мрежа. С това постановление бившите Окръжни библиотеки бяха преобразувани като юридически лица на бюджетна издръжка към Министерството на културата и с предмет на дейност – библиотечно-информационно обслужване, междубиблиотечно и международно библиотечно книгозаемане; поддържане архива на местния печат и краеведска литература; осъществяване издателска и методическа дейност за библиотеките от съответния регион. След 6 месеца е прието ново Постановление на МС №165, което отменя П МС №19 и връща библиотеките при старите условия, т. е. на бюджетна издръжка към общините.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1997 г.</td>
    <td>
        <p>И през тази година Британският съвет продължи обогатяването на фонда на библиотеката с дарения на 77 т. библиотечни документи на английски език. От 1993 г. библиотеката работи с Британския съвет по съвместна програма за обучение по английски език, в резултат на която до 1997 г. тя е получила дарение на обща стойност от 6 000 британски лири.</p>
        <p>Библиотечният фонд е 276 550 т. , новонабавените материали са 2 668 т., които процентно се разпределят така – 67, 47 % отраслова, 25% художествена и 7,53% детска литература.</p>
        <p>Читатели – 4 195;</p>
        <p>Посещения 39 029;</p>
        <p>Заети библиотечни материали 100 403 т.</p>
        <p>Работното време е от 9.00 - 18.30 часа и са въведени съботни дежурства от 9.00 – 13.00 часа.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1 окт. 1998 г.</td>
    <td>
        <p>Изготвен е проект за автоматизация на библиотечно информационните процеси от Таня Войникова – началник отдел Автоматизация в НБКМ, който ще бъде представен на пролетната сесия на управителния съвет на Фондация “Отворено общество” за одобрение и спонсориране на автоматизацията.</p>
        <p>Директорът на библиотеката председателства журито по определяне на литературната награда “Михалаки Георгиев”, която се връчва на всеки две години на изявени видински автори. През 1998 г. носител на наградата е поета Андрей Андреев и тя е връчена на 1 октомври – Ден на поезията.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">1999 г.</td>
    <td>
        <p>Библиотеката кандидатства с Проект за автоматизация на библиотечно-информационните процеси пред Фондация “Отворено общество”. Проектът е на обща стойност 6000 долара, с които са закупени 4 компютри, принтери и софтуер.</p>
        <p>Изградена е локална мрежа и започва изграждането на електронни каталози и картотеки.</p>
        <p>Автоматизирани са отделите: “Справочно-библиографски и информационен”; “Комплектуване, обработка и каталози”; “Краезнание” и “Читални”.</p>
        <p>Основан през същата година отдел “Автоматизация”, който организира и поддържа цялата база данни на библиотеката.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">2000 г.</td>
    <td>
        <p>След ПМС № 153/27.07.2000 г. библиотека “Михалаки Георгиев” е обществено достъпна библиотека на общинска издръжка, натоварена с функции на регионална (зонална) библиотека и методичен център за Северозападна България и включва областите – Видин, Монтана и Враца.</p>
        <p>Библиотеката придобива статут на юридическо лице със самостоятелен бюджет (чл.9, ал.1 от Закона за закрила и развитие на културата). За своята издръжка библиотеката получава допълнителна субсидия от Министерството на културата.</p>
        <p>Библиотеката е включена в глобалната мрежа Интернет и има регистрирана електронна поща. Предоставя тази услуга на читателите.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">2001 г.</td>
    <td>
        <p>В библиотеката е учреден Обществен съвет, в който са включени 16 известни граждани на Видин – юристи, бизнесмени, учители, дарители, общественици, видински творци.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">2002 г.</td>
    <td>
        <p>През 2002 г. е открита “Чуждоезикова читалня”. Основа за създаването и са няколко последователни дарения от Британския съвет, съдържащи ценни енциклопедии, справочници, речници, учебни помагала, аудио- и видеокасети за изучаване на английски език. Дарения на Фондация “Отворено общество”, Информационния център на Посолството на САЩ, Делегацията на комисията на ЕС и др.</p>
        <p>Особено ценна е колекцията на световна класическа художествена литература, написана или преведена на английски език. Читалнята притежава и книги на френски, немски, италиански, румънски и други езици.</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">2003 г.</td>
    <td>
        <p>Закона за държавния бюджет гарантира издръжката на библиотеката, която става делегирана от държавата дейност, по стандарти утвърдени от Министерски съвет.</p>
        <p>С помощта на Министерството на културата в локалната мрежа на библиотеката са включени общо 13 компютърни станции.</p>
        <p>Библиотеката е представена в Интернет с уеб страница</p>
    </td>
    <td></td>
</tr>
<tr>
    <td class="text-center vertical-align-middle">2004 г.</td>
    <td>
        <p>Библиотеката разполага с 287 617 библиотечни единици – книги, периодични издания, нотни и графични издания, аудио- и видео- касети, компактдискове, карти и други.</p>
        <p>На 28 май 2004 г. Съюзът на юристите – дружество Видин, под патронажа на кмета на града д-р Иван Ценов организират благотворителен Виенски бал в полза на библиотеката. Със събраната сума (3291 лв.) е закупен и инсталиран климатик-колона в отдел Заемна за възрастни.</p>
    </td>
    <td></td>
</tr>
</tbody>
</table>
</div>

        

