
@{
    ViewData["Title"] = "InformationCenter";
}

<div class="row text-center">
    <h2>Център за информационно и справочно-библиографско обслужване</h2>
</div>
<div class="max-w-500 mr-10-auto">
    <table class="table-hover" style="width: -webkit-fill-available;width: -moz-available;">
        <thead>
            <tr>
                <th colspan="2" class="text-center">Работно време</th>
            </tr>
        </thead>
        <tbody style="width: 500px;">
            <tr>
                <td class="p-0-3 text-left">Понеделник - Петък</td>
                <td class="p-0-3 text-left">9.00-12.00 часа; 12.30-17.00 часа</td>
            </tr>
            <tr>
                <td class="p-0-3 text-left">Събота</td>
                <td class="p-0-3 text-left">Почивен ден</td>
            </tr>
        </tbody>
    </table>
    <div class="panorama">
        <img src="~/images/SiteImages/CISBO.jpg" alt="Център за информационно обслужване">
    </div>
</div>
<div class="col-md-12">
    <div class="text-justify max-w-750 mr-0-auto">
        <p class="text-justify">Центърът е създаден през 2008 година. Разполага с модерна компютърна техника - 10 конфигурации, осигурени от проекта Глобални библиотеки България. Предоставя достъп на читателите до информационни услуги, базирани на новите информационни технологии и Интернет: е-ресурси, електронни енциклопедии, пълнотекстови бази данни: CIELA.net, EBSCO, аналитични публикации на агенция Фокус. Ежедневно центърът се посещава от читатели на различна възраст.</p>
        <p class="text-justify">Периодично в ЦИСБО се провеждат обучителни курсове за начални компютърни умения и ползване на интернет с читатели над 55 годишна възраст.</p>
    </div>
    <div class="text-center">
        <a class="lib-btn" href="javascript:history.go(-1)">Назад</a>
    </div>
</div>
@section Scripts{
    <script>
        $(".panorama").panorama_viewer({
            repeat: true,
            direction: "horizontal",
            animationTime: 1200,
            easing: "ease-out",
            overlay: true
        });
    </script>
}
