
@{
    ViewData["Title"] = "Internet";
}

<h2 class="text-center mr-t-b-25">Безопасен интернет</h2>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p class="bold mr-t-b-25">Детският отдел на РБ „Михалаки Георгиев” разполага с:</p>
        <ul>
            <li class="mr-t-b-25">Tри компютъра с достъп до интернет</li>
            <li class="mr-t-b-25">WI-FI – безжичен достъп до интернет</li>
            <li class="mr-t-b-25">KINDLE - четец за електронни книги.  На него може да прочетете любимата си книга или да прегледате списание.  С Kindle  имате достъп и до всичко достъпно в мрежата – може да отворите електронната си поща, да влезете във фейсбук, да гледате видео или да играете игри.</li>
        </ul>
        <div class="text-center mr-t-b-25">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/it1.jpg" Title="Електронен четец">
                <img class="width-46pr mr-8 img-border" src="/images/SiteImages/it1.jpg" alt="Електронен четец" />
            </a>
        </div>
        <p class="bold mr-t-b-25">Правила за сигурност и безопасност в интернет:</p>
        <ul class="text-justify">

            <li>Никога не давай лична информация като име, парола, адрес, домашен телефон, училището, в което учиш, месторабота или служебен телефон на родителите си, без тяхно разрешение.</li>
            <li>Никога не изпращай свои снимки или снимки на твои близки, без преди това да си обсъдил решението си със своите родители.</li>
            <li>Никога не приемай среща с някой, с когото си се запознал в интернет, без съгласието на твоите родители. Ако те одобрят срещата, нека тя да е на публично място и по възможност да е в присъствие на твои близки или приятели.</li>
            <li>Никога не отговаряй на съобщения, които са обидни, заплашващи, неприлични или те карат да се чувстваш неудобно. Информирай родителите си за такива съобщения.</li>
            <li>Никога не отваряй електронна поща, получена от непознат подател. Тя може да съдържа вирус или друга програма, която да увреди твоя компютър.</li>
            <li>Никога не се представяй за някой, който не си. Не скривай годините си и не посещавай сайтове за възрастни.</li>
            <li>Винаги внимавай, когато някой ти предлага нещо безплатно или те кани да се включиш в дейност, обещаваща лесна и голяма печалба.</li>
            <li>Винаги внимавай, когато разговаряш в чат. Помни, че хората онлайн често се представят за такива, каквито не са.</li>
            <li>Винаги бъди вежлив и уважавай правата на другите.</li>
        </ul>
        <div class="text-right">
            <small>Източник: <a href="http://www.az-deteto.bg/">www.az-deteto.bg</a></small>
        </div>
    </div>
</div>

