
@{
    ViewData["Title"] = "БиблиоПоща";
    ViewData["Description"] = "БиблиоПоща - Регионална библиотека \"Михалаки Георгиев\" - гр. Видин";
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row">
    <div class="col-md-12 text-justify">
        <div class="text-center mr-t-b-25">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/BiblioPoshta1.jpg" Title="„БиблиоПоща”">
                <img class="min-w-300 width-46pr mr-8 img-border" src="/images/SiteImages/BiblioPoshta1.jpg" alt="„БиблиоПоща”"/>
            </a>
        </div>
        <p class="mr-0-auto">От месец април 2017 г. отвори врати Център за обучение, изкуство и култура към Регионална библиотека „Михалаки Георгиев” – Видин в емблематична за града ни сграда. Познатата на всички видинчани като «Турската поща» сграда е паметник на културата, разположена е в централната част на Крайдунавския парк и е единствената запазена днес в България сграда на телеграфопощенска станция от времето на Османската империя.</p>
        <div class="popup-gallery  mr-0-auto">
            <div class="text-center" style="float: left; margin-bottom: 10px;">
                <a href="/images/SiteImages/BiblioPoshta2.jpg" Title="БиблиоПоща - интериор">
                    <img class="mr-8 img-border" style="max-width: 310px;" src="/images/SiteImages/BiblioPoshta2.jpg" alt="БиблиоПоща - интериор"/>
                </a>
            </div>
            <div class=" mr-t-b-25 text-left">
                <a href="/images/SiteImages/BiblioPoshta3.jpg" Title="БиблиоПоща - интериор">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta3.jpg" alt="БиблиоПоща - интериор"/>
                </a>
                <a href="/images/SiteImages/BiblioPoshta4.jpg" Title="БиблиоПоща - интериор">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta4.jpg" alt="БиблиоПоща - интериор"/>
                </a>
                <a href="/images/SiteImages/BiblioPoshta6.jpg" Title="БиблиоПоща - интериор">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta6.jpg" alt="БиблиоПоща - интериор"/>
                </a>
                <a href="/images/SiteImages/BiblioPoshta7.jpg" Title="БиблиоПоща - интериор">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta7.jpg" alt="БиблиоПоща - интериор"/>
                </a>
                <a href="/images/SiteImages/BiblioPoshta8.jpg" Title="БиблиоПоща - интериор">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta8.jpg" alt="БиблиоПоща - интериор"/>
                </a>
                <a href="/images/SiteImages/BiblioPoshta9.jpg" Title="БиблиоПоща - интериор">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta9.jpg" alt="БиблиоПоща - интериор"/>
                </a>
                <a href="/images/SiteImages/BiblioPoshta10.jpg" Title="БиблиоПоща - интериор">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta10.jpg" alt="БиблиоПоща - интериор"/>
                </a>
                <a href="/images/SiteImages/BiblioPoshta11.jpg" Title="БиблиоПоща - интериор">
                    <img class="width-150 mr-8 img-border" src="/images/SiteImages/BiblioPoshta11.jpg" alt="БиблиоПоща - интериор"/>
                </a>
            </div>
        </div>
        <p>Във вътрешността си сградата е разделена на няколко помещения. Едно от тях е предназначено за „среща на поколенията” и обзаведено в битов стил, друга стая е обзаведена за най-малките с подходящи игри, книжки, мебели. По-нестандартна е младежката стая с винтидж обзавеждане и модерна техника за срещи, танци, караоке, обучения и работа в малки групи.</p>        
        <p>Със създаването на този център библиотеката цели да осигури пространство за диалог и обмяна на опит между поколения и култури, да насърчи сътрудничеството между младежите от всички училища и организации и в извънучилищна среда и да осигури възможности за неформални срещи за обучение и обмен на практики и опит, включително и младежки международен обмен, срещи, дискусии, изложби.</p>
    </div>
</div>
