
@{
    ViewData["Title"] = "БиблиоПоща";
    ViewData["Description"] = "БиблиоПоща - Регионална библиотека \"Михалаки Георгиев\" - гр. Видин";
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
