
@{
    ViewData["Title"] = "Library";
}
<div class="row  text-center">
    <h2>За Библиотеката</h2>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row text-justify p-10">
            <p>Регионална библиотека „Михалаки Георгиев” – гр. Видин е наследник на създадената през 1870 г. читалищна библиотека към Народно читалище „Цвят”. През 2000 г. е преобразувана в регионална и методичен център за библиотеките в област Видин. Днес тя е водеща институция в културния живот на областта. Библиотеката разполага с всички съвременни средства за достъп до книгите, както и до световната информационна мрежа и обслужва население от 48 хил. жители – пряко и чрез отдалечен достъп, в това число ученици и студенти, работещи, пенсионери, безработни, хора със специални потребности.</p>
            <p>Благодарение на богатия библиотечен фонд, технологичното оборудване, квалифицираните служители и добрата материална база е обхваната голяма част от населението. В изградените по Програма „Глобални библиотеки – България” обучителни центрове се провеждат обучения по начална компютърна грамотност и интернет, обучения за придобиване на професионална квалификация „Библиотекар”, както и квалификационни обучения за библиотекарите от област Видин, предоставя се информация за свободни работни места и програми и мерки за заетост, подпомагат се потребителите при подготовка за участие в конкурс или интервю за работа.</p>
            <p>Библиотеката предоставя изключително разнообразна и динамична програма в полза на местната общност, като работи в партньорство с граждански сдружени и неправителствени организации, учебни заведения, неформални младежки организации и общности. Тя е основен център за работа с деца и младежи, инициатор на голяма част от инициативите в областта, връзка с други подобни структури на местно, национално и международно ниво. Финансирането на дейностите на библиотеката се подпомага от дарителски кампании и проекти.</p>
        </div>
        <div class="text-center">
            <a class="lib-btn" asp-area="" asp-controller="Home" asp-action="History">История</a>
        </div>
    </div>
   
</div>

