@{
    ViewData["Title"] = "Links";
}
<div class="row text-center">
    <h2>Полезни връзки</h2>
</div>
<div class="row text-center width-85pr mr-0-auto">
    <h3>Културни институции</h3>
    <ul class="mr-t-b-25 lib-footer-ul">
        <li><a href="http://dkt-vidin.com/bg/node/3">Държавен куклен театър - Видин</a></li>
        <li><a href="https://www.facebook.com/ensemble.dunav?fref=nf">АНПТ „Дунав”</a></li>
        <li><a href="http://artgalleryvidin.blogspot.bg/">Художествена галерия “Никола Петров” – Видин</a></li>
        <li><a href="http://cmamyc.com/sinfonietta/bg/node/1">Симфониета – Видин</a></li>
        <li><a href="https://www.facebook.com/%D0%93%D1%80%D0%B0%D0%B4%D1%81%D0%BA%D0%B8-%D0%B4%D1%83%D1%85%D0%BE%D0%B2-%D0%BE%D1%80%D0%BA%D0%B5%D1%81%D1%82%D1%8A%D1%80-%D0%92%D0%B8%D0%B4%D0%B8%D0%BD-121583731374153/">Градски духов оркестър</a></li>
        <li><a href="https://www.facebook.com/DramaTheaterVidin/">Общински драматичен театър</a></li>
        <li><a href="http://museum-vidin.domino.bg/index.html">Регионален исторически музей</a></li>
        <li><a href="http://www.belogradchik.biz/belogradchik/attractions/museum_of_history.bg.html">Исторически музей - Белоградчик</a></li>
        <li><a href="http://www.archives.government.bg/42-%D0%92%D0%B8%D0%B4%D0%B8%D0%BD">Държавен архив – Видин</a></li>
    </ul>
    <h3>Административни услуги</h3>
    <ul class="mr-t-b-25 lib-footer-ul">
        <li><a href="http://vidin.bg/">Община Видин </a></li>
        <li><a href="http://www.vidin.government.bg/094/60-16-16/index.html">Област Видин</a></li>
        <li><a href="http://www.vidin-online.com/">Информационен портал - Видин</a></li>
        <li><a href="http://acvidin.org/">Административен съд - Видин</a></li>
        <li><a href="https://www.mvr.bg/vidin">РДВР - Видин</a></li>
    </ul>
    <h3>Образование</h3>
    <ul class="mr-t-b-25 lib-footer-ul">
        <li><a href="http://csv-vidin.eu/index.php">СУ “Цар Симеон Велики”- Видин</a></li>
        <li><a href="http://radichkovls-vidin.org/">Гимназия с преподаване на чужди езици "Йордан Радичков" – Видин</a></li>
        <li><a href="http://pmg-vd.org/">ППМГ „Екзарх Антим I“ - Видин</a></li>
        <li><a href="http://www.pgaz.org/">ПГ "Проф. д-р Асен Златаров"- Видин</a></li>
        <li><a href="http://www.pgtvidin.com/">ПГ по туризъм "Михалаки Георгиев"- Видин</a></li>
        <li><a href="http://www.daskalo.com/ptgvidin/%D0%B7%D0%B0-%D0%BD%D0%B0%D1%81/%D0%B8%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F/">Професионална Техническа Гимназия "Васил Левски"- Видин</a></li>
        <li><a href="http://schoolvazov.wixsite.com/vidin">ОУ "Иван Вазов"- Видин</a></li>
        <li><a href="http://lk-vidin.eu/">СУ „Любен Каравелов“– Видин</a></li>
        <li><a href="http://prslaveikov-vd.org/%D0%BD%D0%B0%D1%87%D0%B0%D0%BB%D0%BE/">СУ "П. Р. Славейков" – Видин</a></li>
        <li><a href="https://ousko.wordpress.com/">ОУ "Свети Климент Охридски" – Видин</a></li>
        <li><a href="http://ouop.vid-ouop.eu/">ОУ "Отец Паисий" – Видин</a></li>
    </ul>
    <h3 class="mr-t-b-25">Читалища в Област Видин</h3>
    <p class="text-justify">Информация за читалищата и читалищните библиотеки в област Видин можете да получите на <a href="http://chitalishta.com/?act=regions">информационния сайт</a> за българските читалища</p>
    <h3 class="mr-t-b-25">Библиотеките в областта</h3>
    <p class="text-justify">Народните читалища са неразделна част от историята и културата на населените места на област Видин и съдействат за социалната комуникация на ползвателите и подпомагат процеса на образованието и самообразованието.</p>
    <p class="text-justify">
        По данни на Министерство на културата в област Видин функционират 60 читалищни библиотеки, които обслужват население от 41476 души.
        Общият библиотечен фонд на читалищните библиотеки в областта възлиза на 623 648 библиотечни единици. В 41 читалищни библиотеки има обособени 135 компютъризирани работни места. 86 от тях са за потребители.
        В 27 библиотеки са организирани информационни центрове. Материалната и технологична база на голяма част от читалищните библиотеки е недостатъчна и отдавна остаряла. В същото време, в такава обстановка се осъществява богата и разнообразна дейност – срещи, семинари, дискусии, обсъждания на книги, музикални вечери, творчески срещи.
    </p>
    <p class="text-justify mr-t-b-25">Повече информация за библитеките в областта може да получите на сайта на <a href="http://bibliobg.com/?act=regions">Регистъра на Обществените библиотеки</a>. </p>
</div>

