@{
    ViewData["Title"] = "Михалаки Георгиев";
    ViewData["Description"] = "Кратка биография на  Михалаки Георгиев. Писател, публицист, общественик. Роден в град Видин на 11 август 1852 година.";
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row text-justify width-85pr mr-0-auto p-10">
    <a class="image-popup-vertical-fit" href="/images/SiteImages/MihalakiGeorgiev.jpg" Title="Михалаки Георгиев">
        <img class="img-float-left img-border" src="/images/SiteImages/MihalakiGeorgiev.jpg" alt="Михалаки Георгиев" />
    </a>
    <p>Писател, публицист, общественик. Роден е в град Видин на 11 август 1852 година в семейството на търговеца Георги Лозанов, но отрано остава сирак. Отгледан е в семейството на по-голямата си сестра. Образованието си получава в град Табор, Чехия. Работи като учител във Видин, Лом и София. Михалаки Георгиев е първият управител на видинската митница след Освобождението, написал е първият учебник по ботаника за средните класове в България (1881). Той е първият директор и организатор на Пловдивския панаир (1892), първият българин летял с балона на Еужени Годар.</p>
    <p>Един от първите радетели и организатори на земеделското образование в България, един от инициаторите за основаване на Дружеството на българските журналисти и негов председател, организатор на първата държавна лотария в България. Той е първия български писател дръзнал да пише оперно либрето (Тахирбеговица), дипломат във Виена и Белград, редовен член на Българското книжовно дружество (дн. БАН), издател и редактор на сп. “Домакин”(1884) и независимия вестник “Балканска трибуна” и т.н.</p>
    <p>Немалка е заслугата му и за развитието на краткия разказ в българската литература.Създател е на галерия от оригинални образи на хора от Видинския край. Чрез неговите разкази в българската литература навлиза насмешката – дяволита и игрива, жизненооптимистична реч на непредаващия се пред злото селянин. Езикът на творбите му е колоритен, изпъстрен с диалектизми и много пословици и поговорки. Той е един от малкото автори, които успяват да използват народното изкуство за устно разказване на преживяното в своите разкази.</p>
    <p>Михалаки Георгиев умира на 14 февруари 1916 година в град София.</p>
</div>