@{
    ViewData["Title"] = "Партньори";
    ViewData["Description"] = "Списък с партньорите на Регионална библиотека \"Михалаки Георгиев\" - гр. Видин.";
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
        <a class="box effect-1" href="http://vidin.bg">
            <img src="/images/SiteImages/VidinLogo.png" alt="Община Видин лого" />
            <p>Община Видин</p>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="box effect-1" href="http://www.vidin.government.bg/094/60-16-16/index.html">
            <img src="/images/SiteImages/OAVidinLogo.jpg" alt="ОА-Видин лого" />
            <p class="pt-25">Областна Администрация Видин</p>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="box effect-1" href="http://www.nap.bg/page?id=24">
            <img src="/images/SiteImages/nap-logo.png" alt="ТД на НАП-Видин лого" />
            <p>ТД на НАП Видин</p>
        </a>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
        <a class="box effect-1" href="https://www.az.government.bg/contacts/offices/">
            <img src="/images/SiteImages/DBTLogo.png" alt="ДБТ-Видин лого" />
            <p>ДБТ Видин</p>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="box onvVidin effect-1" href="http://cmamyc.com/pic-vidin/msnv">
            <img src="/images/SiteImages/OSNVLogo.png" alt="МОСНВ-Видин лого" />
            <p class="p-t-20">Младежки общински съвет по наркотичните вещества</p>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="box MPVidin effect-1" href="https://www.facebook.com/mladejki.parlament.vidin">
            <img src="/images/SiteImages/MPVidinLogo.jpg" alt="ДМП-Видин лого" />
            <p class="pt-15">Детски младежки парламент – Видин</p>
        </a>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
        <a class="box onvVidin effect-1" href="http://www.lib.bg/">
            <img src="/images/SiteImages/logobbia.jpg" alt="ББИА лого" />
            <p class="pt-15" style="font-size: 0.94em;">Българска библиотечна информационна асоциация</p>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="box onvVidin effect-1" href="http://www.glbulgaria.bg/">
            <img src="/images/SiteImages/GB-logo.png" alt="ГБ България лого" />
            <p class="pt-15">Фондация глобални библиотеки България</p>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="box MPVidin effect-1" href="http://mc.government.bg/">
            <img src="/images/SiteImages/MK-logo.jpg" alt="Министерство на културата България лого" />
            <p class="pt-35">Министерство на културата</p>
        </a>
    </div>
</div>


