@{
    ViewData["Title"] = "ProgramForKids";
}
<div class="row text-center">
    <h2>Програма за работа с деца</h2>
</div>
<div class="row text-justify width-60pr mr-0-auto">
    <p class="mr-t-b-25">Детски отдел, Чуждоезикова читалня и отдел „Изкуство” предлагат на свойте малки читатели  занимания под формата на клубни форми. Всяко дете в свободното си време да се занимава пълноценно. Клубните форми са изцяло  съобразени с потребностите на децата. За да бъдат винаги интересни и актуални, ние се стремим да предлагаме  разнообразни занимания, така че всяко дете да припознае своят любим клуб на място извън дома и училището,  в което могат сами да избират да какво да четат, и в което  могат да творят и мечтаят. Участието в клубните форми изисква  валидна читателска карта за библиотеката.</p>
    <div class="mr-t-b-25">
        <p class="bold">Клубни форми в Детския отдел</p>
        <p>Понеделник 10 часа  – Клуб „Прочети и попълни, в надпреварата участвай ти”</p>
        <p>Вторник 10 часа – Клуб „Разиграй приказка”</p>
        <p>Сряда 10 часа – Клуб „Млад писател и поет”</p>
        <p>Четвъртък 10 часа – Клуб „Млад художник”</p>
    </div>
    <div class="mr-t-b-25">
        <p class="bold">Клубни форми в отдел „Изкуство”
        <p>Понеделник 11 часа – Клуб „Какво научих за фолклора?” (ще говорим за празници, обичаи, носии и шевици</p>
        <p>Вторник 11 часа – Ателие „Влез в изкуството”</p>
        <p>Четвъртък 11 часа - Ателие „Влез в изкуството”</p>
        <p>Петък 10 часа – Клуб „Приятели на музиката”</p>
    </div>
    <div class="mr-t-b-25">
        <p class="bold">Клубни форми в отдел „Чуждоезикова читалня”</p>
        <p>Сряда 11 часа – Клуб „Забавлени с чуждите букви” с английски език</p>
        <p>Петък 11 часа - Клуб „Забавлени с чуждите букви” с руски език</p>
    </div>
    <div class="mr-t-b-25">
        <p class="bold">Еко клуб „Млад еколог”</p>
        <p>29 юни – 11 часа – Ден на река Дунав – Рисуване в Крайдунавския парк</p>
        <p>3 и 18 юли – 14 часа – Правене на хербарии</p>
        <p>30 август – 10 часа – Разходка до вековните дървета на Видин</p>
    </div>
</div>

