@model RawHtmlViewModel
@{
    ViewData["Title"] = "Програма за работа с деца";
    ViewData["Description"] = "Списък с клубните форми на Регионална библиотека \"Михалаки Георгиев\" - гр. Видин, за деца .";
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row">
    @Html.Raw(Model.Html)
</div>
