@{
    ViewData["Title"] = "Услуги";
    ViewData["Description"] = "Списък с услугите, предлагани в Регионална библиотека \"Михалаки Георгиев\" - гр. Видин.";
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row">
    <div class="col-md-offset-11 col-md-1">
        <a id="link8" href="#">

            <div id="floater">
                <p class="glyphicon glyphicon-arrow-up"></p>
            </div>
        </a>
    </div>
</div>
<div class="row text-center width-85pr mr-0-auto">
    <div id="scroll-id8" class="col-md-12">
        <p class="text-justify">Предлаганите от Регионална библиотека „Михалаки Георгиев” услуги са насочени към удовлетворяването на определени конкретни информационни потребности на ползвателите на библиотеката. Различните видове услуги са базирани на начина на организацията на достъпа до библиотечните ресурси. Те са съобразени с индивидуалния характер на читателското търсене и с Насоките на ИФЛА (Международна федерация на библиотечните асоциации и институции) от 2011 г.</p>
        <div class="row text-justify">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <ul class="lib-footer-ul">
                    <li><a id="link1" href="#">Заемане за дома</a></li>
                    <li><a id="link2" href="#">Ползване на място</a></li>
                    <li><a id="link3" href="#">Библиографски справки</a></li>
                    <li><a id="link4" href="#">Копирни услуги</a></li>
                    <li><a id="link5" href="#">Интернет</a></li>
                    <li><a id="link6" href="#">Междубиблиотечно заемане</a></li>
                    <li><a id="link9" href="#">Tехнологичен кът към Детски отдел</a></li>
                    <li><a id="link7" href="#">В помощ на хората с увреждания</a></li>
                </ul>
            </div>
        </div>
        <div id="scroll-id1">
            <h3 class="mr-t-b-25">Заемане за дома</h3>
            <p class="text-justify">Регионална библиотека Видин разполага с богата колекция книги и други информационни източници от всички области на знанието. За да заемете книга е необходимо да сте регистриран потребител. Регистрацията се прави на място в библиотеката и се издава читателска карта, с която можете да заемате за вкъщи до 5 броя книги от отделите „Заемна за възрастни”, Детски отдел, Чуждоезикова читалня и Краезнание. Заетите библиотечни единици се ползват за срок от 20 дни. Във фондовете на тези отдели има обособени справочни сбирки, които не се заемат за дома.</p>
            <p class="text-justify">Библиотеката притежава и аудио книги – старобългарска и старогръцка литература, българска възрожденска, съвременна българска, западно-европейска литература и др. Те могат да се ползват на място и/или да се заемат за дома.</p>
        </div>
        <div id="scroll-id2">
            <h3 class="mr-t-b-25">Ползване на място</h3>
            <p class="text-justify">Ползване на място на библиотечните колекции –спецификата на някои от библиотечните ресурси налага тяхното използване само в библиотеката без да могат да се заемат за вкъщи. Това се отнася за отдел Читални и справочните сбирки в отделите на библиотеката. Във всички отдели на библиотеката, освен книги могат да се ползват и други източници – електронен и онлайн каталог, интернет, търсене в бази данни, справки и др. При необходимост от консултация или съдействие библиотечните служители са на разположение. За да използвате тази услуга е необходимо да сте регистриран потребител.</p>
            <p class="text-justify">Библиотеката притежава и аудио книги – старобългарска и старогръцка литература, българска възрожденска, съвременна българска, западно-европейска литература и др. Те могат да се ползват на място и/или да се заемат за дома.
            <p>
        </div>
        <div id="scroll-id3">
            <h3 class="mr-t-b-25">Библиографски справки</h3>
            <p class="text-justify">Библиографските справки са вид специализирана библиотечна услуга. Писмената библиографска справка - включва библиографска информация по дадена тема, проблем, личност или автор. Регионална библиотека „Михалаки Георгиев” поддържа справочен апарат, в помощ на справочно-библиографското и информационното обслужване. С негова помощ в библиотеката се изготвят писмени библиографски справки по теми от всички области на знанието.</p>
        </div>
        <div id="scroll-id4">
            <h3 class="mr-t-b-25">Копирни услуги</h3>
            <p class="text-justify">Регионална библиотека „Михалаки Георгиев” разполага със съвременна техника за извършването на различни копирни услуги като ксерокопиране, принтиране, сканиране.</p>
        </div>
        <div id="scroll-id5">
            <h3 class="mr-t-b-25">Интернет</h3>
            <p class="text-justify">Всеки потребител има право да ползва безплатно интернет в рамките на 120 минути на ден. Компютри, свързани с мрежата, са на разположение във всички отдели на библиотека, а в отделите Заемна, Читални и Детски има и WI-FI достъп. За да използвате тази услуга е необходимо да сте регистриран потребител. Ако искате да ползвате интернет еднократно и за по-малко от 15 мин. не е необходимо да притежавате читателска карта.</p>
        </div>
        <div id="scroll-id6">
            <h3 class="mr-t-b-25">МЗС</h3>
            <p class="text-justify">Междубиблиотечно заемане - библиотеката предоставя възможност за доставка на необходимите материали от други библиотеки в страната, ако търсеното заглавие не е налично във фонда. Материалите получени по този ред се ползват само на място в библиотеката. За да използвате тази услуга е необходимо да сте регистриран потребител.</p>
            <p class="text-justify"><span class="bold">Лице за контакт:</span> Боряна Дикова тел. 0879940277</p>
        </div>
        <div id="scroll-id9">
            <div>
                <h3 class="mr-t-b-25">Tехнологичен кът към Детски отдел</h3>
            </div>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/ts1.jpg" Title="Технологична стая">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/ts1.jpg" alt="Технологична стая" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/ts2.jpg" Title="Технологична стая">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/ts2.jpg" alt="Технологична стая" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/ts3.jpg" Title="Технологична стая">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/ts3.jpg" alt="Технологична стая" />
            </a>
            <p class="text-justify">През 2015 година отвори врати нов технологичен кът към Детски отдел на Регионална библиотека „Михалаки Георгиев”. Новата стая разполага с 3D телевизор, четци за електронни книги, видео игри и детски книги.</p>
            <p class="bold">LEGO Mindstorms</p>
            <p class="text-justify">Със средства, осигурени от Програма "Глоб@лни библиотеки - България" библиотеката е закупила LEGO Mindstorms. С този робот децата, могат под формата на игра да развиват своите творчески умения, да усвоят началните стъпки по роботика и компютърно програмиране. LEGO Mindstorms съдържа няколко стартови модела роботи, които чрез инструкциите в комплекта могат да се изградят стъпка по стъпка.</p>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/ts4.jpg" Title="LEGO Mindstorms">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/ts4.jpg" alt="LEGO Mindstorms" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/ts5.jpg" Title="LEGO Mindstorms">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/ts5.jpg" alt="LEGO Mindstorms" />
            </a>
        </div>
        <div id="scroll-id7">
            <div>
                <h3 class="mr-t-b-25">В помощ на хората с увреждания</h3>
            </div>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/phu1.jpg" Title="Аудиозаписи на романа „Лангария”">
                <img class="float-left width-150 mr-8 img-border" src="/images/SiteImages/phu1.jpg" alt="Аудиозаписи на романа „Лангария”" />
            </a>
            <p class="text-justify">Авторът Емил Георгиев дари на библиотеката пет броя аудиозаписи на своя роман „Лангария”. Аудиозаписът им е извършен в студиото на „Съюза на незрящите в България” и е предназначен предимно за хора с увредено зрение, но също така е подходящ и за хора в напреднала възраст.</p>
            <p class="text-justify">„Лангария” е книга написана с много любов и фантазия. В нея събитията и хората са такива, каквито авторът иска да бъдат.</p>
            <p class="text-justify">Без да е учебник по история, съдържанието е опит да се представи как са се раждали легендите, народните мъдрости, обичаите и реда по земите. Събитията и героите в романа са измислени. Неопределено е и историческото време, за което се отнася. Езикът и думите са автентични и са своеобразен израз на "родовата памет”.</p>
            <p class="text-justify">В библиотеката е осигурена достъпна архитектурна среда за хора в неравностойно положение. Осъществена е чрез проекта <span class="bold">„Библиотеката е за всички”.</span> Създадени са условия за достъп на хора с двигателни и зрителни затруднения до информация и библиотечно обслужване. Закупено е самоходно устройство (стълбищен робот за инвалидни колички), по стълбищата между различните отдели на библиотеката са поставени стенни ръкохватки и е изградено санитарно-хигиенно помещение за хора с увреждания.</p>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/phu2.jpg" Title="Самоходно устройство (стълбищен робот за инвалидни колички)">
                <img class="width-46pr mr-8 img-border" src="/images/SiteImages/phu2.jpg" alt="Самоходно устройство" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/phu3.jpg" Title="Проект „Библиотеката е за всички”">
                <img class="width-46pr mr-8 img-border" src="/images/SiteImages/phu3.jpg" alt="Проект „Библиотеката е за всички”" />
            </a>            
        </div>
    </div>
</div>

@section Scripts {
    <script>

        function scrollToAnchor(aid, num = 0) {

            var aTag = $("div[id='" + aid + "']");

            $('html,body').animate({ scrollTop: aTag.offset().top - num - 50 });
        };

        $("#link1").click(function () {
            scrollToAnchor('scroll-id1');
        });

        $("#link2").click(function () {
            scrollToAnchor('scroll-id2');
        });

        $("#link3").click(function () {
            scrollToAnchor('scroll-id3');
        });

        $("#link4").click(function () {
            scrollToAnchor('scroll-id4');
        });

        $("#link5").click(function () {
            scrollToAnchor('scroll-id5');
        });

        $("#link6").click(function () {
            scrollToAnchor('scroll-id6');
        });

        $("#link7").click(function () {
            scrollToAnchor('scroll-id7');
        });

        $("#link8").click(function () {
            scrollToAnchor('scroll-id8', 65);
        });

        $("#link9").click(function () {
            scrollToAnchor('scroll-id9');
        });
    </script>
}