
@{
    ViewData["Title"] = "Staff";
}
<div class="row text-center">
    <h2>Информация за контакти</h2>
</div>
<div class="row p-10-table">
    <table class="table table-condensed table-responsive vertical-align-middle">
        <thead>
            <tr>
                <th colspan="4" class="text-center">Администрация</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center first-color-b second-color">Отдел</th>
                <th class="text-center first-color-b second-color">Име</th>
                <th class="text-center first-color-b second-color">Телефон и Имейл</th>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">Директор</td>
                <td class="vertical-align-middle">Десислава Иванова</td>
                <td class="vertical-align-middle">
                    <p>094/601-704</p>
                    <p>0879949204</p>
                    <p>libvidin@vidin.net</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="2">Каса и счетоводство</td>
                <td class="vertical-align-middle">Борис Иванов</td>
                <td class="vertical-align-middle" rowspan="2">0879597141</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">Милена Гергова</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">Автоматизация</td>
                <td class="vertical-align-middle">Милчо Цветков</td>
                <td class="vertical-align-middle"></td>
            </tr>
            <tr>
                <th colspan="4" class="text-center first-color-b second-color">Обслужващи звена</th>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="5">Заемна за възрастни</td>
                <td class="vertical-align-middle">Тодор Младенов</td>
                <td class="vertical-align-middle" rowspan="5">
                    <p>094/601-702</p>
                    <p style="word-break:break-all;">zaemna_vidin@abv.bg</p>
                    <p style="word-break:break-all;">skype: zaemna_vidin@abv.bg</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">Лидия Векова</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">Мануела Вилиянова</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">Цветан Цеков</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">Димитрина Николова</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="4">Читални - хуманитарни науки, точни и приложни науки, периодика</td>
                <td class="vertical-align-middle">Боряна Дикова - зав.отдел</td>
                <td class="vertical-align-middle" rowspan="4">
                    <p>0879940277</p>
                    <p>vidlib.chit@gmail.com</p>
                    <p>skype: chitalnq_vidin</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">Десислава Кръстева</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">Ирена Филипова</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">Даниела Върлакова</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="3">Детски отдел</td>
                <td class="vertical-align-middle">Адрияна Цветкова - зав.отдел</td>
                <td class="vertical-align-middle" rowspan="3">
                    <p>0879597148</p>
                    <p>vdkids@abv.bg</p>
                    <p>skype: vd_kids</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">Милена Иванова</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">Мариана Петрова</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">Чуждоезикова читалня</td>
                <td class="vertical-align-middle">Татяна Николова - зав.отдел</td>
                <td class="vertical-align-middle">
                    <p>0898821617</p> 
                    <p>ezicovarbmg@abv.bg</p>
                    <p>skype: чуждоезикова читалня</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">Център за информационно и справочно-библиографско обслужване</td>
                <td class="vertical-align-middle">Кристиян Христов - зав.отдел</td>
                <td class="vertical-align-middle">
                    <p>0896355454</p>
                    <p>kriscoo01@abv.bg</p>
                    <p>skype: krisco01</p>
                </td>
            </tr>
            <tr>
                <th colspan="4" class="text-center first-color-b second-color">Специализирани звена</th>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="2">Комплектуване, обработка и каталогизация</td>
                <td class="vertical-align-middle">Иванка Иванова </td>
                <td class="vertical-align-middle" rowspan="2">
                    <p>0879597148</p>
                    <p>biblvidin@abv.bg</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">Людмила Спиридонова</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="2">Краезнание</td>
                <td class="vertical-align-middle">Наталия Николова</td>
                <td class="vertical-align-middle" rowspan="2">
                    <p>0879940279</p> 
                    <p style="word-break: break-all">kraeznanie_vidin@abv.bg</p>
                    <p>skype: live:kraeznanie_vidin</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">Галина Стоянова</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">Изкуство</td>
                <td class="vertical-align-middle">Мая Миланова - зав.отдел</td>
                <td class="vertical-align-middle">0879940282</td>
            </tr>
        </tbody>
    </table>
</div>