
@{
    ViewData["Title"] = "Staff";
}

<h2 class="text-center mr-t-b-25">Информация за контакти</h2>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-bordered vertical-align-middle">
            <thead>
                <tr>
                    <th colspan="4" class="text-center">Администрация</th>
                </tr>
                <tr>
                    <th>Отдел</th>
                    <th>Име</th>
                    <th>Телефон</th>
                    <th>Имейл</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="vertical-align-middle" rowspan="2">Директор</td>
                    <td class="vertical-align-middle" rowspan="2">Десислава Иванова</td>
                    <td class="vertical-align-middle">094/601-704</td>
                    <td class="vertical-align-middle" rowspan="2">libvidin@vidin.net</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">0879949204</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle" rowspan="2">Каса и счетоводство</td>
                    <td class="vertical-align-middle">Борис Иванов</td>
                    <td class="vertical-align-middle" rowspan="2">0879597141</td>
                    <td class="vertical-align-middle" rowspan="2"></td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Милена Гергова</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Автоматизация</td>
                    <td class="vertical-align-middle">Милчо Цветков</td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                </tr>
                <tr>
                    <th colspan="4" class="text-center">Обслужващи звена</th>
                </tr>
                <tr>
                    <td class="vertical-align-middle" rowspan="5">Заемна за възрастни</td>
                    <td class="vertical-align-middle">Тодор Младенов</td>
                    <td class="vertical-align-middle" rowspan="5">094/601-702</td>
                    <td class="vertical-align-middle" rowspan="5">
                        <p>zaemna_vidin@abv.bg</p>
                        <p>skype: zaemna_vidin@abv.bg</p>
                    </td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Лидия Векова</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Мануела Вилиянова</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Цветан Цеков</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Димитрина Николова</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle" rowspan="4">Читални - хуманитарни науки, точни и приложни науки, периодика</td>
                    <td class="vertical-align-middle">Боряна Дикова - зав.отдел</td>
                    <td class="vertical-align-middle" rowspan="4">0879940277</td>
                    <td class="vertical-align-middle" rowspan="4">
                        <p>vidlib.chit@gmail.com</p>
                        <p>skype: chitalnq_vidin</p>
                    </td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Десислава Кръстева</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Ирена Филипова</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Даниела Върлакова</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle" rowspan="3">Детски отдел</td>
                    <td class="vertical-align-middle">Адрияна Цветкова - зав.отдел</td>
                    <td class="vertical-align-middle" rowspan="3">0879597148</td>
                    <td class="vertical-align-middle" rowspan="3">
                        <p>vdkids@abv.bg</p>
                        <p>skype: vd_kids</p>
                    </td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Милена Иванова</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Мариана Петрова</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Чуждоезикова читалня</td>
                    <td class="vertical-align-middle">Татяна Николова - зав.отдел</td>
                    <td class="vertical-align-middle">0898821617</td>
                    <td class="vertical-align-middle">
                        <p>ezicovarbmg@abv.bg</p>
                        <p>skype: чуждоезикова читалня</p>
                    </td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Център за информационно и справочно-библиографско обслужване</td>
                    <td class="vertical-align-middle">Кристиян Христов - зав.отдел</td>
                    <td class="vertical-align-middle">0896355454</td>
                    <td class="vertical-align-middle">
                        <p>kriscoo01@abv.bg</p>
                        <p>skype: krisco01</p>
                    </td>
                </tr>
                <tr>
                    <th colspan="4" class="text-center">Специализирани звена</th>
                </tr>
                <tr>
                    <td class="vertical-align-middle" rowspan="2">Комплектуване, обработка и каталогизация</td>
                    <td class="vertical-align-middle">Иванка Иванова </td>
                    <td class="vertical-align-middle" rowspan="2">0879597148</td>
                    <td class="vertical-align-middle" rowspan="2">biblvidin@abv.bg</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Людмила Спиридонова</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle" rowspan="2">Краезнание</td>
                    <td class="vertical-align-middle">Наталия Николова</td>
                    <td class="vertical-align-middle" rowspan="2">0879940279</td>
                    <td class="vertical-align-middle" rowspan="2">
                        <p>kraeznanie_vidin@abv.bg</p>
                        <p>skype: live:kraeznanie_vidin</p>
                    </td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Галина Стоянова</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle">Изкуство</td>
                    <td class="vertical-align-middle">Мая Миланова - зав.отдел</td>
                    <td class="vertical-align-middle">0879940282</td>
                    <td class="vertical-align-middle" ></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>