@{
    ViewData["Title"] = "Структура";
    ViewData["Description"] = "Структура на отделите в Регионална библиотека \"Михалаки Георгиев\" - гр. Видин и работното време.";
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row width-85pr mr-0-auto text-center">
    <div class="row text-justify">
        <div class="col-md-5 col-md-offset-4 text-center">
            <ul class="lib-footer-ul text-justify" style="display: inline-block; padding-left: 50px;">
                <li><a asp-area="" asp-controller="Home" asp-action="BookBorrowing">Отдел „Заемна за възрастни”</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Children">Отдел „Детски”</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="ReadingRooms">Отдел „Читални - хуманитарни науки, точни и приложни науки, периодика”</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="InformationCenter">Център за информационно и справочно-библиографско обслужване</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="ForeignReadingRoom">Отдел „Чуждоезикова читалня”</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Art">Отдел „Изкуство”</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Homeland">Отдел „Краезнание”</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="ApcDepartment">Отдел „Комплектуване, обработка и каталогизация”</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Methodological">Отдел „Методичен”</a></li>
            </ul>
        </div>
    </div>
</div>
