@{
    ViewData["Title"] = "Structure";
}
<div class="row text-center">
    <h2>Структура</h2>
</div>
<div class="row">
    <div class="col-md-1">
        <a id="link1" href="#">
            <div id="floater">
                <p class="glyphicon glyphicon-arrow-up"></p>
            </div>
        </a>
    </div>
</div>
<div class="row width-85pr mr-0-auto text-center">

    <h3>Отдел „Заемна за възрастни”</h3>
    <div id="scroll-id1" class="max-w-500 mr-10-auto">
        <table class="table-hover" style="width: -webkit-fill-available">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">Работно време</th>
                </tr>
            </thead>
            <tbody style="width: 500px;">
                <tr>
                    <td class="p-0-3 text-left">Понеделник - Петък</td>
                    <td class="p-0-3 text-left">9.00-12.00 часа; 12.30-17.00 часа</td>
                </tr>
                <tr>
                    <td class="p-0-3 text-left">Събота-Неделя</td>
                    <td class="p-0-3 text-left">Почивни</td>
                </tr>
            </tbody>
        </table>
        <div class="panorama">
            <img src="~/images/SiteImages/CISBO.jpg">
        </div>
    </div>
    <p class="text-justify">
        Предоставя библиотечни услуги, информация и документи за домашно ползване.
        В него се обслужват и регистрират всички категории читатели над 14 – годишна възраст.
        Фонда на отдел „Заемна за възрастни” е универсален по своята същност.
        Ползвателите на отдела разполагат със свободен достъп до над 100 хил. тома от всички отдели на знанието.
        Фондът е разположен в две зали, в които са обособени художествената литература – българска, руска, немска, френска, американска, английска и др. и научна литература от всички отрасли на знанието – медицина, психология, философия, селско стопанство, математика, химия и др.
        Ежемесечно подръчния фонд се обновява и обогатява, съобразно политиката на комплектуване на библиотеката и читателските търсения. Читателите могат да заемат за дома до 5 броя библиотечни единици, които трябва да върнат в 20 дневен срок след датата на заемане. В отдела читателите могат да използват и четири компютризирани работни места.
        Техниката е осигурена по Програмата „Глобални Библиотеки – България”. В Отдела се провеждат литературни вечери, срещи с писатели, изложби.
    </p>
    <h3>Отдел „Читални - хуманитарни науки, точни и приложни науки, периодика”</h3>
    <div class="max-w-500 mr-10-auto">
        <table class="table-hover" style="width: -webkit-fill-available">
            <thead>
            <tr>
                <th colspan="2" class="text-center">Работно време</th>
            </tr>
            </thead>
            <tbody style="width: 500px;">
            <tr>
                <td class="p-0-3 text-left">Понеделник - Петък</td>
                <td class="p-0-3 text-left">9.00-12.00 часа; 12.30-17.00 часа</td>
            </tr>
            <tr>
                <td class="p-0-3 text-left">Събота-Неделя</td>
                <td class="p-0-3 text-left">Почивни</td>
            </tr>
            </tbody>
        </table>
        <div class="panorama">
            <img src="~/images/SiteImages/CISBO.jpg">
        </div>
    </div>
    <p class="text-justify">Организира, съхранява, поддържа и предоставя за ползване богат фонд от от 15 863 р.е. книги и справочни издания в областите наука, философия, психология, социология, политика, икономика, право, педагогика, етнография, история, технически, медицински и селскостопански науки, мултимедийни формати: CD и DVD; карти и атласи от различни научни области. Отделът обслужва потребителите с периодични издания в различни научни области с траен или срочен режим на съхранение. На разположение на читателите е Държавен вестник от 1943 година до сега. Абонаментът обхваща 85 периодични издания, а от дарения се получават още 5 заглавия.</p>
    <p class="text-justify">Могат да се ползват преносими компютри с наличната Wi-Fi мрежа. На читателите се доставят необходимите им книги и статии от други библиотеки в страната чрез услугата междубиблиотечно заемане.</p>
    <h3>Детски отдел</h3>
    <div class="max-w-500 mr-10-auto">
        <table class="table-hover" style="width: -webkit-fill-available">
            <thead>
            <tr>
                <th colspan="2" class="text-center">Работно време</th>
            </tr>
            </thead>
            <tbody style="width: 500px;">
            <tr>
                <td class="p-0-3 text-left">Понеделник - Петък</td>
                <td class="p-0-3 text-left">9.00-12.00 часа; 12.30-17.00 часа</td>
            </tr>
            <tr>
                <td class="p-0-3 text-left">Събота-Неделя</td>
                <td class="p-0-3 text-left">Почивни</td>
            </tr>
            </tbody>
        </table>
        <div class="panorama">
            <img src="~/images/SiteImages/CISBO.jpg">
        </div>
    </div>
    <p class="text-justify">Детският отдел на Регионалната библиотека "Михалаки Георгиев" разполага с богат книжен фонд от детска художествена и научно-популярна литература, комикси, енциклопедии, детски вестници и списания. Отделът се състои от заемна и читалня. Регистрира и обслужва читатели до 14 години. Тук се организират различни мероприятия в помощ на ученика, посещения в библиотеката, запознаване с книжното богатство и информационните й възможности, открити уроци, конкурси, литературни четения, изложби, мероприятия по случай различни празници, викторини, витрини, представяния на нови книги и др.</p>
    <p class="text-justify">В уютна и спокойна обстановка при нас ще намерите още клубове по интереси всеки ден от седмицата, модерно технологично пространство, образователни и занимателни игри.</p>
    <p class="text-justify">През 2015 година отвори врати нов технологичен кът към Детски отдел на Регионална библиотека „Михалаки Георгиев”. Новата стая разполага с 3D телевизор, четци за електронни книги, видео игри и детски книги.</p>
    <h3>Център за информационно и справочно-библиографско обслужване</h3>
    <div class="max-w-500 mr-10-auto">
        <table class="table-hover" style="width: -webkit-fill-available">
            <thead>
            <tr>
                <th colspan="2" class="text-center">Работно време</th>
            </tr>
            </thead>
            <tbody style="width: 500px;">
            <tr>
                <td class="p-0-3 text-left">Понеделник - Петък</td>
                <td class="p-0-3 text-left">9.00-12.00 часа; 12.30-17.00 часа</td>
            </tr>
            <tr>
                <td class="p-0-3 text-left">Събота-Неделя</td>
                <td class="p-0-3 text-left">Почивни</td>
            </tr>
            </tbody>
        </table>
        <div class="panorama">
            <img src="~/images/SiteImages/CISBO.jpg">
        </div>
    </div>
    <p class="text-justify">Центърът е създаден през 2008 година. Разполага с модерна компютърна техника - 10 конфигурации, осигурени от проекта Глобални библиотеки България. Предоставя достъп на читателите до информационни услуги, базирани на новите информационни технологии и Интернет: е-ресурси, електронни енциклопедии, пълнотекстови бази данни: CIELA.net, EBSCO, аналитични публикации на агенция Фокус. Ежедневно центърът се посещава от читатели на различна възраст.</p>
    <p class="text-justify">Периодично в ЦИСБО се провеждат обучителни курсове за начални компютърни умения и ползване на интернет с читатели над 55 годишна възраст.</p>
    <h3>Отдел „Чуждоезикова читалня”</h3>
    <div class="max-w-500 mr-10-auto">
        <table class="table-hover" style="width: -webkit-fill-available">
            <thead>
            <tr>
                <th colspan="2" class="text-center">Работно време</th>
            </tr>
            </thead>
            <tbody style="width: 500px;">
            <tr>
                <td class="p-0-3 text-left">Понеделник - Петък</td>
                <td class="p-0-3 text-left">9.00-12.00 часа; 12.30-17.00 часа</td>
            </tr>
            <tr>
                <td class="p-0-3 text-left">Събота-Неделя</td>
                <td class="p-0-3 text-left">Почивни</td>
            </tr>
            </tbody>
        </table>
        <div class="panorama">
            <img src="~/images/SiteImages/CISBO.jpg">
        </div>
    </div>
    <p class="text-justify">Отделът съхранява и предоставя за ползване художествена и специализирана литература от всички отрасли на знанието на английски, немски, френски и други езици. Предоставя за ползване на място богат фонд от книги, енциклопедии, енциклопедични и езикови речници, общи справочници и справочници, списания на английски, немски и български език, които се съхраняват трайно – като National Geographic, Toug.bg, Vagabond и Чуждоезиково обучение. Отделът разполага и с тестове за SAT и TOEFL.</p>
    <p class="text-justify">Фондът е на свободен достъп и съдържа над 5 хил. библиотечни документа. Регулярно се попълва с нови издания от наши и чужди автори - литература, която отразява съвременните тенденции в науката и художествената литература.</p>
    <p class="text-justify">В Чуждоезикова читалня е обособен и Американски кът с американска литература и читателски компютър, дарение от Посолството на САЩ в България.</p>
    <p class="text-justify">Традиционно в отдела се отбелязват 9 май – Ден на Европа, 26 септември – Ден на европейските езици и чужди празници, като Св. Валентин, Хелоуин и Деня на благодарността, провежда се еко клуб „Млад еколог”(съвместно с отдел „Изкуство” и Детски отдел), а през летните месеци и детски чуждоезикови клубове – с английски и руски езици. В тези прояви учениците показват наученото по предпочитания от тях чужд език, дообогатяват се с нови знания, показват уменията си да се ориентират адекватно в дадените ситуации и в работата със справочния апарат на читалнята и не на последно място – искрено се забавляват с подготвените игри.</p>
    <p class="text-justify">Чуждозеикова читалня и отдел „Изкуство” провеждат и клуб „Подари радост” с възпитаниците на Дневен център за деца с увреждания - седмична грижа към Фондация „Уникалните деца на Видин”, под формата на творческа работилница, в която децата проявяват умения да майсторят и изработват предмети от хартия и природни материали.</p>
    <h3>Отдел „Изкуство”</h3>
    <div class="max-w-500 mr-10-auto">
        <table class="table-hover" style="width: -webkit-fill-available">
            <thead>
            <tr>
                <th colspan="2" class="text-center">Работно време</th>
            </tr>
            </thead>
            <tbody style="width: 500px;">
            <tr>
                <td class="p-0-3 text-left">Понеделник - Петък</td>
                <td class="p-0-3 text-left">9.00-12.00 часа; 12.30-17.00 часа</td>
            </tr>
            <tr>
                <td class="p-0-3 text-left">Събота-Неделя</td>
                <td class="p-0-3 text-left">Почивни</td>
            </tr>
            </tbody>
        </table>
        <div class="panorama">
            <img src="~/images/SiteImages/CISBO.jpg">
        </div>
    </div>
    <p class="text-justify">Отделът е обособен през 1986 г. Обслужва всички категории читатели с изкуствоведски фонд, който наброява 13 138 регистрационни единици. Отдел „Изкуство” разполага с богати и ценни колекции от графични издания, нотни свитъци, грамофонни плочи, аудиокасети, видеокасети, CD-та, DVD-та, картографски издания и диапозитиви.</p>
    <p class="text-justify">В отдела се предоставят за ползване 14 периодични издания от областта на изкуството и културата.</p>
    <h3>Отдел „Краезнание”</h3>
    <div class="max-w-500 mr-10-auto">
        <table class="table-hover" style="width: -webkit-fill-available">
            <thead>
            <tr>
                <th colspan="2" class="text-center">Работно време</th>
            </tr>
            </thead>
            <tbody style="width: 500px;">
            <tr>
                <td class="p-0-3 text-left">Понеделник - Петък</td>
                <td class="p-0-3 text-left">9.00-12.00 часа; 12.30-17.00 часа</td>
            </tr>
            <tr>
                <td class="p-0-3 text-left">Събота-Неделя</td>
                <td class="p-0-3 text-left">Почивни</td>
            </tr>
            </tbody>
        </table>
        <div class="panorama">
            <img src="~/images/SiteImages/CISBO.jpg">
        </div>
    </div>
    <p class="text-justify">Архив на ръкописни, печатни и електронни материали за природните условия и богатства, местната история, стопанското развитие, духовния и културен живот на гр. Видин и областта в цялото му многообразие.</p>
    <p class="text-justify">В отдела се работи по издирване, съхраняване, разкриване и предоставяне за ползване от потребителите на библиотеката на издания, публикации, снимки и други носители на краеведска информация, които имат научна, документална, историческа, художествена или практическа стойност и по авторство, съдържание или местоиздаване са свързани с края.</p>
    <p class="text-justify">Краеведската сбирка е обособен през 1966 г. Събран е ценен фонд от 2735 библиотечни единици, който непрекъснато се обновява.</p>
    <p class="text-justify">В отдела има система от каталози и картотеки, поддържат се две електронните бази данни, които съдържат анотирана библиографска информация за факти, събития и личности.</p>
    <p class="text-justify">Чрез традиционните форми на библиотечно-информационно обслужване и използвайки богатия фонд и справочен апарат се предоставя пълна и точна информация по заявените от потребителя искания.</p>
    <p class="text-justify">Информация за местни личности и институции може да се почерпи и от библиографски указатели, биобиблиографии и юбилейни сборници, издавани от библиотечните специалисти в отдела.</p>
    <p class="text-justify">Към отдела са обособени сбирки «Стари книги, редки и ценни издания», «Книги с автографи», «Старият Видин», в които читателите могат да ползват първите печатани във Видин книги и издавани вестници от 1874 г. до сега, и да разгледат снимки от стария Видин.</p>
    <h3>Отдел „Комплектуване, обработка и каталогизация”</h3>
    <div class="max-w-500 mr-10-auto">
        <table class="table-hover" style="width: -webkit-fill-available">
            <thead>
            <tr>
                <th colspan="2" class="text-center">Работно време</th>
            </tr>
            </thead>
            <tbody style="width: 500px;">
            <tr>
                <td class="p-0-3 text-left">Понеделник - Петък</td>
                <td class="p-0-3 text-left">9.00-12.00 часа; 12.30-17.00 часа</td>
            </tr>
            <tr>
                <td class="p-0-3 text-left">Събота-Неделя</td>
                <td class="p-0-3 text-left">Почивни</td>
            </tr>
            </tbody>
        </table>
        <div class="panorama">
            <img src="~/images/SiteImages/CISBO.jpg">
        </div>
    </div>
    <p class="text-justify">Комплектува библиотечния фонд като се спазват основните принципи – съобразяване с профила на библиотеката и региона като икономика и социален състав на потребителите, както и с читателските търсения. Годишно библиотеката обогатява фондовете си средно с около 2 хил. заглавия от различни области на знанието и художествена литература. В отдела се проучва и следи състоянието на книжния пазар. Осъществяват се контакти с книгоразпространители, издателства, редакции, книжарници – електронни и традиционни, дарители.</p>
    <h3>Отдел „Методичен”</h3>
    <div class="max-w-500 mr-10-auto">
        <table class="table-hover" style="width: -webkit-fill-available">
            <thead>
            <tr>
                <th colspan="2" class="text-center">Работно време</th>
            </tr>
            </thead>
            <tbody style="width: 500px;">
            <tr>
                <td class="p-0-3 text-left">Понеделник - Петък</td>
                <td class="p-0-3 text-left">9.00-12.00 часа; 12.30-17.00 часа</td>
            </tr>
            <tr>
                <td class="p-0-3 text-left">Събота-Неделя</td>
                <td class="p-0-3 text-left">Почивни</td>
            </tr>
            </tbody>
        </table>
        <div class="panorama">
            <img src="~/images/SiteImages/CISBO.jpg">
        </div>
    </div>
    <p class="text-justify mr-t-b-25">Оказва експертно-консултантска и квалификационна помощ на библиотеките от област Видин. Специалистът в отдела координира и професионално подпомага дейностите, извършвани от библиотекарите от област Видин. В отдела се събира, обработва и анализира информацията за работа и състоянието на библиотеките в областта. Основните потребители на отдела са библиотечни специалисти, студенти и ученици. Библиотековедският фонд от книги и други видове документи съдържа над 500 библиотечни единици - на български и чужди езици.</p>
</div>

@section Scripts{
    <script type="text/javascript">
        $(".panorama").panorama_viewer({
            repeat: true,
            direction: "horizontal",
            animationTime: 1200,
            easing: "ease-out",
            overlay: true
        });
    </script>
}     