<h2 id="examples">Examples</h2>
<div class="grid-c">
    <div class="example gc3">
        <h3>Single image lightbox</h3>
        <p>
            Three simple popups with different scaling settings.<br />
            1 &mdash; fits horizontally and vertically,<br />
            2 &mdash; only horizontally,<br />
            3 &mdash; no gaps, zoom animation, close icon in top-right corner.<br />
        </p>
        <div class="html-code grid-of-images">
            <a class="image-popup-vertical-fit" href="http://farm9.staticflickr.com/8241/8589392310_7b6127e243_b.jpg" title="Caption. Can be aligned to any side and contain any HTML.">
                <img src="http://farm9.staticflickr.com/8241/8589392310_7b6127e243_s.jpg" width="75" height="75" />
            </a>
        </div>
        <style type="text/css">

            /* padding-bottom and top for image */
            .mfp-no-margins img.mfp-img {
                padding: 0;
            }
            /* position of shadow behind the image */
            .mfp-no-margins .mfp-figure:after {
                top: 0;
                bottom: 0;
            }
            /* padding for main container */
            .mfp-no-margins .mfp-container {
                padding: 0;
            }
        </style>
    </div>
</div>