@{
    ViewData["Title"] = "Vidin";
}
<h2 class="text-center mr-t-b-25">Видин</h2>
<div class="row">
    <div class="col-md-3">
        <a id="link1" href="#"><div id="floater"><p class="glyphicon glyphicon-arrow-up"></p></div></a>
    </div>
    <div id="scroll-id1" class="col-md-6 text-justify">
        <p>Видинският край заема най-северозападния ъгъл на страната ни, включен между река Дунав и началото на Балкана. На изток и югоизток граничи с област Монтана. Другите и две граници – западната със Сърбия и северната с Румъния (по р. Дунав), се покриват с държавните граници и се събират в най-северната точка на страната при устието на р. Тимок. Това е един кът от нашата родина, надарен с богата и интересна природа и история, един край прославен със своето плодородие. Тук са съчетани живописната природа на планинския пейзаж с необгледната шир на Дунавската низина, с тихия бял Дунав, чудния свят на Белоградчишките скали и с подземните прелести на Магурата.</p>
        <div class="text-center">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd2.gif" Title="ЦУХЛЕВ Димитър. История на града Видин и неговата област – Видинско, Кулско, Белоградчишко, Ломско, Оряховско, Врачанско, Фердинандско, Берковско и Крайна. – София: б.и.д., 1932. – 615 с.">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd2.gif" alt="ЦУХЛЕВ Димитър. История на града Видин." />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd1.jpg" Title="ЦУХЛЕВ Димитър. История на града Видин и неговата област – Видинско, Кулско, Белоградчишко, Ломско, Оряховско, Врачанско, Фердинандско, Берковско и Крайна. – София: б.и.д., 1932. – 615 с.">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd1.jpg" alt="ЦУХЛЕВ Димитър. История на града Видин" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd3.jpg" Title="ЦУХЛЕВ Димитър. История на града Видин и неговата област – Видинско, Кулско, Белоградчишко, Ломско, Оряховско, Врачанско, Фердинандско, Берковско и Крайна. – София: б.и.д., 1932. – 615 с.">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd3.jpg" alt="ЦУХЛЕВ Димитър. История на града Видин" />
            </a>
            <p class="text-justify">Този край има свой общопризнат център – град Видин, двухилядолетния град оставил дълбока диря в историческото развитие на българската държава и народ. Град, разположен на 791-ия километър на завоя на Дунав, където се пресичат 22 меридиан с 44 паралел.</p>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd4.gif" Title="Книга за Видин">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd4.gif" alt="Книга за Видин" />
            </a>
        </div>
        <p>Първите сведения за възникването на селище, датират от I век преди Христа. Тогава келтите построяват крепостен стан с името Донония, означаващо високо и укрепено място.
        <p>Римляните построяват нова крепост която наричат Бонония /Хубава крепост/, оградена със здрави крепостни стени и дълбок ров, което я прави един от най-здравите бастиони на Римската империя. При император Анастасий българите започнват да завземат тази земя, като преминават Дунав при Бъдин. От тръгването на българите до сега са изминали 870 години, пише в най-стария български превод на Манасиевата хроника, завършен през 1345 г., което ще рече, че българите са минали при Видин и са започнали да завземат земите на юг от р. Дунав през 475 г. Към средата на VII век земите на днешна Северозападна България били вече в ръцете на славяните, а удобното за отбрана разположение на бившата Бонония станало причина за възникването на славянския град Бъдин влязъл по-късно в пределите на хан Аспаруховата Българска държава през 861 г.</p>
        <p>Още към втората половина на IX век след покръстването на българите от княз Борис I, Бъдин е център на епархия, а Самуил, преди да стане цар е управител на областта. По времето на Първото българско царство Бъдин е значимо средище и важен посредник в търговията между Византия и Унгария, Великоморавия и Немско.</p>
        <p>По време на Второто българско царство (XII-XIV век) градът се нарича с българското си име Бдин. Бдинска област е с внушителни размери – на изток до река Вит, на север – земите между Карпатите, река Олт и Дунава, на запад – до вододела на реките Тимок и Морава и на юг – северно от Ниш. Бдин е процъфтяващ град и важен търговски център – упоменат в Дубровнишката грамота на цар Иван Асен II от 1230 г. и по-късно в Брашовската грамота-писмо на цар Иван Срацимир, един от малкото запазени досега официални документи, излезли от дворцовата канцелария на средновековната българска държава и единствен оцелял държавен акт от Видинското царство. Бурните събития по това време са белязани с повратности при които Бдинска област е ту самостоятелно княжество и царство, независими от Търново, ту многократно е била завладявана от унгарци, руси, сърби и турци.</p>
        <p>Съдбата на Бдин през втората половина на XIVвек е свързана най-вече с личността на Иван Срацимир властвал самостойно и независимо четири десетилетия в неговото Иван-Срацимирово Бдинско царство. Съхранилите се архитектурни паметници от онова време са замъкът „Баба Вида”, Алботинският скален манастир и църквите в сръбските села Раковица и Долна Каменица. Смята се, че цар Иван Срацимир се е опитал да създаде своя книжовна школа. Останали са сечени по негово време сребърни и медни монети и писмени паметници.</p>
        <p>Най-старият известен на науката ръкописен паметник от Бдинското книжовно средище е ”Четвероевангелие” преписано по поръка на митрополит Даниил във Видин през 1348 г.което се съхранява в Британския музей. Друг ценен книжовен паметник, съставен и преписан в Бдин по поръка на царица Ана е известният Бдински сборник – обемист средновековен български паметник от 1360 година. Ръкописът се намира в библиотеката в гр. Гант (Белгия). В края на сборника има интересна приписка, от която става ясно, че е писан през 1360 г., “в дните на благоверния, превисокия, самодържавния наш цар на българите и гърците Иван Срацимир за укрепа на царството на господаря-цар и царицата и техните деца, за телесното им здраве и душевното им спасение”. През 1395 г. Йоасаф Бдински написва „Похвално слово за св. Филотея”.</p>
        <div class="text-center">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd5.jpg" Title="Четвероевангелие 1348 г.">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd5.jpg" alt="Четвероевангелие 1348 г." />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd6.jpg" Title="Бдински сборник 1360 г.">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd6.jpg" alt="Бдински сборник 1360 г." />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd7.jpg" Title="Йоасаф Бдински...">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd7.jpg" alt="Йоасаф Бдински..." />
            </a>
        </div>
        <p>Бдинското царство пада последно под Османска власт през 1396 г. На следващата година цар Иван Срацимир е заловен и пратен на заточение. Вероятно в Бдинското царство останал да управлява като османски васал синът му Константин. Възползвайки се от междуособиците в империята, Константин и братовчед му Фружин вдигнали българите от Бдинското и Търновското царства на първото антиосманско въстание, познато като въстанието на Константин и Фружин (1409).</p>
        <p>Многократно след това унгарци, власи и австрийци обсаждат или успяват да превземат Видин макар и за кратко. Войните на Османската империя срещу Хабсбургската империя превърнали Видин във важен военен център. Важното стратегическо разположение на града довело до изграждането на крепостната отбранителна система „Калето” с деветте си крепостни врати (капии), което завършило според надписа на Топ капия в 1718 г.</p>
        <div class="text-center">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd8.jpg" Title="ВАНКОВ, С. Крепостната ограда на град Видин в началото на XVIII век. – София : Печатница на Военно-издателски фонд, 1939, с.6.">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd8.jpg" alt="Крепостна ограда на Видин в началото на XVIII в." />
            </a>
        </div>
        <p>През първата половина на XVII век били построени и две църкви – „Св. Пантелеймон” и „Св. Петка”.
        <p>
            Опитите на централната власт да провежда реформи, засягащи интересите на турските феодали и еничарите и разрастналите се кърджалийски размирици в края на XVIII век дали възможност на енергичния Осман Пазвантоглу да откъсне Видинския санджак от централната власт и да се обяви за самостоятелен владетел на целия Видински санджак. Противоречива личност, Осман Пазвантоглу през краткия си живот (умира на 49 години в 1807 г.) е превръщал в черна нощ черните дни на християните.
            Историческите документи от това време продкрепят напълно показанията на Софрония за насилия и безправие, вършени еднакво и от еничарите, кърджалиите и другите воюващи на страната на видинския паша, и от редовните уж войски, когато те настъпват или отстъпват, изливайки гнева си над беззащитното българско население. Въпреки това има и безспорна заслуга за придобиването на европейски вид на град Видин. Изградил монументални сгради, мослуци, чешми и ледници, известната джамия със сърце на върха на минарето, медресе и библиотека (част от книгите се съхраняват в Народната библиотека в София), кръстатата казарма, построена във формата на християнски кръст с построяването на която според легендите Осман Пазвантоглу искал да изкупи греховете си към християните.
        </p>
        <p>Видин се свързва с телеграф през 1859 г. 60-те години на XIX век е построена и турската поща, сега единствената запазена стара поща в страната.</p>
        <p>По време на войните на Османската империя с Русия населението от Видинския санджак оказвало помощ на русите. През XIX век избухнали редица селски въстания. Основна причина е неизпълнението на поземлената реформа и събирането на двойни данъци - от спахиите и от държавата. След Манчовата буна на селяните от Стакевци, Салаш и Раяновци, въстанало населението и в с. Бойница. Няколко години по-късно избухва Пуйовата размирица, пак в Бойница. Като връх в борбите на хората от нашия край е въстанието от 1850 година обединило недоволството на хората от Белоградчишко, Кулско, Видинско и Ломско. Освен, че успяли да откупят земите си въстанието поставило на дневен ред въпроса за освобождаването на българския народ от османска власт. Последвала и Димитракиевата буна и Новоселското въстание. Населението от Видин и Видинско се включило енергично в борбата за независима българска църква и в края на 1868 г. се обявило за откъсване от Цариградската патриаршия и подкрепило своя архиерей Антим I, бъдещ Първи Български екзарх.</p>
        <div class="text-center">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd9.jpg" Title="Видинска епархия">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd9.jpg" alt="Видинска епархия" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd10.jpg" Title="Антим I">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd10.jpg" alt="Антим I" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd11.jpg" Title="Българска възрожденска интелигенция">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd11.jpg" alt="Българска възрожденска интелигенция" />
            </a>
        </div>
        <p>През Възраждането безспорен възход бележи духовният живот на Видин и областта, организира се медицинската помощ, развиват се търговските връзки. През 1802 година във времето на 3 г. принудителен престой във Видин Софроний Врачански създава своите два сборника. През 1820 г. ученикът на даскал Димитър от Видин Първан Вълчев от Бело поле съставил „Видински сборник”. Същата година било открито първото българско училище във Видин, а 1821 открито килийно училище в Белоградчик. 1835 г. в Рабиша било открито училище в специално построена за това двуетажна сграда. За нуждите на турския гарнизон в града е построена сграда за болница, за чужденците е разкрита болница в частна къща. През 1870 г. учениците на Костаки Търновски основават читалище „Цвят” с библиотека. От 1 януари 1874 г. във Видин излиза първият земеделско-икономически вестник „Ступан” редактиран от Димитър Хранов. Първият следосвобожденски вестник издаван във Видин е в. „Свобода” издаван от Димитър Мишев и Найчо Цанов. </p>
        <p>Във Видин има открити австрийско и руско консулства, параходни агенции, чужди търговски представителства. Много пътешественици посещават града и крепостта. </p>
        <div class="text-center">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd12.jpg" Title="вестник Ступан">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd12.jpg" alt="вестник Ступан" />
            </a>
        </div>
        <p>С този период са свързани имената на екзарх Антим I, Илия и Найчо Цанови, Михалаки Георгиев, Димитър Мишев, Димитър Балев, Димитър Златаров и други обществени, църковни и просветни деятели.</p>
        <p>На 12/24 февруари 1878 след пристигането на официална султанска заповед за предаване на Видин се подписват условията за изтеглянето на турската армия от Видин и заместването и с румънска.</p>
        <p>На 25 март /6 април в града пристига 138 Болковски пехотен полк, командван от генерал Боревски. Турците им предават ключа на града и го напускат, а румънската армия се изтегля по понтонен мост към Калафат.</p>
        <p>След Съединението на Княжество България с Източна Румелия (1885 г.) Сърбия обявява война на България. Командващият северния отряд 25 годишния капитан Атанас Узунов категорично отхвърля ултиматума да сдаде Видин и крепостта и с решителни боеве и с подкрепата на мичман Луцки снабдявал крепостта с муниции и храна отхвърля сръбската армия зад граничната бразда. Аналогично се развиват събитията и по време на Междусъюзническата война когато ген. Кръстьо Маринов командва защитата на Видин. За проявения героизъм Видинска градска община учредява званието „Почетен гражданан на Видин” и награждава героите. За почитане паметта на 3000-те загинали със смъртта на храбрите войни от 3-ти Бдински полк признателните поколения са издигнали два уникални паметника, „Скърбящият воин” (1911), за загиналите 1855 г., и паметникът на площад „Бдинци” (1944), за загиналите във войните 1912-1918 г.</p>
        <div class="text-center">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd13.gif" Title="Трети пехотен Бдински полк">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd13.gif" alt="Трети пехотен Бдински полк" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd14.gif" Title="Защитници на съединението">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd14.gif" alt="Защитници на съединението" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd15.gif" Title="Спасителят на Видин">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd15.gif" alt="Спасителят на Видин" />
            </a>
        </div>
        <p>За последен път бойни действия на територията на на областта са водени през септември 1944 г. при гр. Кула. Единствено тук, в България частите на Трети Украински фронт използват артилерийските установки „Катюши”.</p>
        <p>Въпреки благоприятните условия за развитие на индустрия след Освобождението в града имало 5 тютюневи работилници и една парна мелница. Добре развитите еснафски сдружения започнали да западат по причина на конкуренцията на вносните фабрични стоки. С протекциите на министъра на финансите Константин Стоилов, депутат от видинската листа на консерваторите с оглед развитието на лозарството и винарството във Видинския край е построено винарско училище (1881-1883), за което той е удостоен със званието почетен гражданин на Видин и награден със златна значка художествено изработена от прочутите видински майстори златари. Голям принос за развитие на училищното дело има екзарх Антим I завещал място и осигурил средства за построяването (1891) на училище „Антим I” („Зеленото училище”). Построена е първата в България театрална сграда (1891), военен клуб (1892), нов молитвен дом за видинските евреи – синагога (1894), търговски дом (1895). В града се организират културно-просветни и спортни мероприятия, работят над 20 печатници. Издадени са множество книги и списания по въпроси на здравеопазването. Построена е сградата на държавната болница (1908).</p>
        <p>Вземайки в предвид общото стопанско развитие на гр. Видин, липсата на пътища и др. окръжното и градско управления в лицата на д-р Иван Златаров и кмета Георги х. Йончев предлагат и е взето решение за „провеждането на панаир в гр. Видин през 1898 г. и занапред”. Решено е панаирът да се открива всяка година на 15 авг. (ст. стил). Въпреки всичко, Видинският край си оставал подвластен на силните земеделски традиции.</p>
        <p>След войните броят на индустриалните предприятия се увеличавал непрекъснато, но това били дребни предприятия, 3 мини, 3 циглени фабрики, 2 пивоварни, 2 маслобойни, 1 тютюнева, 1 порцеланова, 1 спиртна, 2 лимонадени. Най-много били мелниците – 39 моторни, 17 валцови, 4 водни. През този период възникнали и кооперациите, Сред видинските индустриалци били Ванко Джонов, Тома Лозанов, братята Торосян, Младенови, Искренов и Милев и др.</p>
        <p>Появили се нови, модерни за времето си сгради в стил неокласицизъм, лични, обществени и църковни.</p>
        <p>След кончината на митрополит Антим (1888) Видинска епархия се управлява от всеотдайните за полза на родната църква, религиозната и национална светска просвета и култура, дарителите митрополит Кирил (1833-1914), митрополит Неофит (1868-1971), митрополит Филарет (1921-1987), и в днешно време митрополит Дометиан.</p>
        <div class="text-center">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd16.gif" Title="Летописи за видинска епархия">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd16.gif" alt="Летописи за видинска епархия" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd17.gif" Title="Свидетели от вековете">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd17.gif" alt="Свидетели от вековете" />
            </a>
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd18.gif" Title="Водопроводът">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd18.gif" alt="Водопроводът" />
            </a>
        </div>
        <p>Наред с грижите за възстановяване на градския живот и изхранването на населението, вниманието на градоначалниците се насочва към електрифициране на града. Есента на 1922 г. центърът на Видин е електрифициран В тези години кметове на града са представителите на радикалдемократическата партия племенникът на Найчо Цанов д-р по право Асен Цанов, и Никифор Недев. Следващият кмет Симеон Стоицев довършва проекта и с построяването на електрическа централа (1925), на 1 юли 1926 г. целият град грейва в светлини. По това време е построена и сградата на митрополията (1925), сграда на Окръжната постоянна комисия (1926), довършен митрополитския храм „Св. Димитър” (1926), църквата „Св. Николай” (1927), старчески приют „Мария и Йоница Николови” (1927), градска баня (1927-1929), построено е епархийското училище, мавзолей-гробница на Първия Български екзарх и Видински митрополит Антим І (1934), читалищна сграда (1927-1939) и др.</p>
        <p>На 1 юли 1923 г. е открита новопостроената жп линия Видин-София, 10 г. след откриване линията Лом-София и достатъчно късно за да доведе до западане на пристанището, отлив на интелигенцията към столицата и като следствие недостатъчен интерес на видинското гражданство към стопанско издигане на града. „Видинци даваха храните си за изхранване на армията, даваха човешки, морални и материални жертви през всичките войни, които страната води и които почваха и свършваха край Видин” пише д-р Бърни Бончев (видински кмет от 1934-1938г) в книгата „Причини за стопанския упадък на гр. Видин”.</p>
        <p>Световната криза от 1923-1933 г. нанася силен удар на индустрията във Видинско. През 1934 г. с новото административно деление Видин не е център на окръг, преминава като околийски град към Врачанска област. От града са изтеглени в центъра редица институции, администрация, съд и военни. Градът запада и по причина на лошите пътни връзки със столицата, другите околийски градове и близките села. До построяването на ж.п. линията Видинската поща е използвала пощенски карети по прашните, кални и заснежени пътища на окръга и използвала руските и австрийски кораби по Дунав.</p>
        <p>До 1938 г.гражданите пият дунавска вода. Заслугата за благоустрояването на Видин и изграждане на водопровода е изцяло на кмета д-р Бърни Бончев.</p>
        <p>Периодичните наводнения са бич за града. Подпочвените води заливат ниви, градини и дворове. До 1940 г. Видин е подложен на 10 опустошителни наводнения докато през катастрофалното наводнение от 1942 г. водата в града достига ниво 2 м и се задържа 3 месеца.</p>
        <p>През 1945 г. във видинско работят едва 9 индустриални предприятия.</p>
        <div class="text-center">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd19.gif" Title="Видин какъвто беше">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd19.gif" alt="Видин какъвто беше" />
            </a>
        </div>
        <p>България участва във Втората световна война и на 9 септ. 1944г е обявена за „народна република”, поема се курс на колективизация и масовизация на селското стопанство. Приети са специални закони и нова Конституция. Държавата се нарича Народна Република България. През 1947 г. са национализирани индустриалните предприятия, мините и банковото дело. Електрифициран и водоснабден е целият Видински окръг. Разработват се старите, създават се и се изграждат нови голями промишлени предприятия. Във Видин работят: Стопански химически комбинат за полиамидни влакна и пневматични гуми, Комбинат за производство на помпи, Завод за режещи инструменти, Завод за ризи ”Вида”, Мебелен завод „Бдин”, Порцеланова фабрика, Консервен комбинат, Тютюнев комбинат, Месокомбинат, Комбинат „Млечна промишленост”, Строително-монтажен комбинат (СМК), Институт по млечна промишленост, „Гипс” – Кошава, „Телефонен завод – Белоградчик, ЗТКИ – Кула, МЗ – Димово, Консервен комбинат – Брегово, трудово-производителни кооперации (ТПК) и др.
        <p>Към 1980 г. Видински окръг произвежда 100 % от телефоните, полиамидните влакна, суровия и печен гипс, 98% от моторните помпи, 74% от автомобилните гуми и 25% от мъжките ризи. През 1959 г. в окръга работят 20 Трудово-кооперативни земеделски стопанства (ТКЗС) и 6 Държавни земеделски стопанства (ДЗС). През 1970 г. се извършва уедряване на земята, създават се 6 Аграрно-промишлени комплекси (АПК), 1979 г. стават 11 плюс 1 Лозаро-винарски комплекс (ЛВК). Въвежда се комплексна механизация в отглеждането на земеделските култури, прилага се висока агротехника и механизирано поливане от създадените 5 напоителни системи. При с. Гомотарци е изградена най-голямата помпена станция на Балканския полуостров.
        <p>Разраства се строителството на обществени и жилищни сгради. Развива се и транспортът. От 1950 г. действа фериботът Видин-Калафат. От 1973 г. функционира летището и градът има връзка с градовете София, Бургас и Варна. Пътищата в окръга са асфалтирани, изградени са защитни диги на р. Дунав.
        <p>Съществуват драматичен и куклен театри, художествена галерия, исторически музей, читалище „Цвят”, Регионална библиотека „Михалаки Георгиев”, киносалони, спортна зала, стадион, гребна база.
        <p>С построяването на промишлените предприятия коренно се изменя икономическия облик на областта. Съотношението между промишленост и селско стопанство през 1978 г. е 83,9 към 16,1. Броят на заетите в промишлеността надхвърля 30 000 души, което оголва селското стопанство откъм работна ръка. Рентабилността на някои от предприятията не отговаря на изискванията на пазара. Увеличава се вътрешния и външен дълг на страната. В Съветския съюз и страните от Източна Европа започва периодът на така наречената „Перестройка” – преминаване от планово към пазарно стопанство. През 1989 – 1990 г. се преминава към многопартийна система. Провеждат се избори за Велико народно събрание. Приема се нова Конституция. Държавата се нарича Република България. Доста от предприятията не издържат на конкуренцията и изискванията на пазара преустановяват работа, други са фалирани от фирми фантоми стояли на входа и изхода, трети са приватизирани. Внушителни са размерите на безработицата, която е сред най-високите за страната, чувствително спадат доходите и потреблението на населението. Развива се куфарната търговия, видинлии тръгват по света да търсят работа и хляб. Силно се влошават демографските показатели за областта и Видин, населението застарява, селата се обезлюдяват.</p>
        <p>На 1 януари 2007 г. България е член на Европейския съюз, за да станем известни като най-бедната област в най-бедния регион на съюза. За компенсация имаме най-хубавият мост на река Дунав - „Нова Европа”, свързващ гр. Видин с гр. Калафат, Румъния. Стотици са превозните средства които преминават ежедневно по моста.</p>
        <p>В областта работят предприятията „Видахим” АД, „Kнауф-Гипсфазер” АД, „ЕлБи Булгарикум”, „Випом” АД, „Водстрой” АД, „Гипс” АД с. Кошава, „Кула-Ринг” АД гр. Кула, други по-малки предприятия, шивашки кооперации, строителни, спедиторски, пощенски и други фирми и цехове за услуги.</p>
        <p>Повечето от пътищата в областта и тези към столицата както и ж.п. инфраструктурата са в окаяно състояние. Това е една от причините за отсъствието на големи инвеститори и незадоволителното развитие на туризма в областта. Доскоро видинската земя пустееше. Сега голяма част полетата се обработват от силни арендаторски фирми и по-малки площи от дребни собственици и местни арендатори.</p>
        <p>Като оптимистичен завършек на материала за Видинския край и гр. Видин трябва да се кажат няколко думи и за любимото място на видинлии - Крайдунавския парк. Основите са положени през 70-те години на 19 век от началника на Видинския гарнизон Измаил паша. Но за начало на крайдунавския парк се смята 1884 г. Тогава на малкото пространство пред днешния театър, в непосредствена близост до пристанището, наречено Каранти бахча, доброволци засаждат първите кестенови дръвчета. През 1898 г. за главен озеленител е назначен австрийският възпитаник Георги Петров, който аранжира парка в модерния за това време бароков стил.</p>
        <div class="text-center">
            <a class="image-popup-vertical-fit" href="/images/SiteImages/vd20.jpg" Title="Видин от птичи поглед">
                <img class="width-150 mr-8 img-border" src="/images/SiteImages/vd20.jpg" alt="Видин от птичи поглед" />
            </a>
        </div>
        <p>Достоен негов приемник е Александър х. Ангелов – Сашо Градинаря. 35 години той се грижи за обновяването и разширяването на градината и другите видински паркове. Днес паркът е разположен на обща площ от 130 декара. Присъствието на исторически паметници прави парка уникален и любимо място за отдих, предизвиква интерес и възхищение в туристите и посетителите на града.</p>
        <p>Красотата на цветята, спокойствието и прохладата на зеленината, ромонът на чешмичките и веселата гълчава на децата правят хората щастливи и уверени, че хубавите дни които идват имат своя път и за да достигнат до морската ни граница, първо трябва да минат през Видин.</p>
        <p class="bold">Ползвана литература. Библиография</p>
        <div id="newpost" style="display:none">
            <p>АНТОВА, Галина и др. Град Видин : Пътеводител / Галина Антова, Невен Илиев. - Видин : б.и., 1994. - 130 с. : с ил.</p>
            <p>АРНАУДОВ, Михал. Софроний Врачански : Второ изд., 1944. – 104 с.</p>
            <p>АТАНАСОВ, Васил. Из миналото на Бабините Видини кули: Книга за народа. – Видин: Раб. печатница П. Конев, 1940. - 34 с.: с ил.</p>
            <p>БОНЧЕВ, Бърни. Видинската книга. Какво е дал Видин на българската книжнина и общественост. Т. 1 - 4 - Видин: Дом на изкуствата и печата, 1946.</p>
            <p>БОНЧЕВ, Бърни. Водопроводът на гр. Видин в неговото минало и настояще. – Видин: Водоснабдителна кооперация “Бдин”, 1940. – 265 с.</p>
            <p>ВАСИЛЕВ, Йордан Н. Летописи за Видинска епархия. - Пловдив: Златен лъв, 1999. – 455 с.</p>
            <p>ДАСКАЛОВА, Ангелина и др. Грамоти на българските царе : Увод. Текстове. Речник. Библиография / Ангелина Даскалова, Мария Райкова. - София : Акад. изд. Марин Дринов, 2005. - 459 с. : с ил.</p>
            <p>ЗАХАРИЕВ, Захари и др. История на Трети пехотен бдински полк Ч. 1. 1878 - 1912 година./ Захари Захариев и Пламен Станкулов. - Видин: Северозападен печат, 2004. – 76 с.</p>
            <p>Йоасаф БДИНСКИ. Похвално слово за Филотея. // С т а р а  българска литература. в седем тома: Т. 2. Ораторска проза. – София, Бълг. писател, 1982, с. 187 – 200.</p>
            <p>КАНИЦ, Феликс. Дунавска България и Балканът. – София : Борина, 1995.</p>
            <p>МАРИНОВ, Емил. Видинската болница : 1866 – 2005 : Ръкопис.</p>
            <p>МИНКОВ, Богдан. Видин, какъвто беше: (Спомени от 30-те и 40-те години на XX в.) – Видин : ЕТ Колор принт – Златко Павлов, 2003. – 151 с.</p>
            <p>МУТАФЧИЕВА, Вера. Книга за Софроний. – София, Военно изд., 1978, 212 с.</p>
            <p>ПЕТКОВ, Пламен. Българите преди България. - София : Труд, 2012.</p>
            <p>СТОЯНОВ, Димитър и др. Пътеводител на гр. Видин. / Димитър Стоянов, Юрдан Велев. – Видин: Печатница Яким Божинов, 1927, - 105 с.: със снимки.</p>
            <p>ЯРЪМОВ, Хари и др. Летопис на видинския спорт. 1878-1978. / Хари Яръмов, Христо Лишков. – Видин: ОС на БСФС, ДА, (1978). – 33 с.: със снимки.</p>
        </div>  
        <a id="btn1" class="btn btn-default" onclick="showhide()"><span>Покажи</span></a>  
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    function showhide() {

        var div = document.getElementById("newpost");

        if (div.style.display === "block") {
            div.style.display = "none";
        } else {
            div.style.display = "block";
        }
    }
</script>
<script type="text/javascript">
    $('#btn1').on('click',
        function() {
            if ($(this).find('span').text() === "Скрии") {
                $(this).find('span').text('Покажи');
            } else {
                $(this).find('span').text('Скрии');
            }
        });
</script>
}