
@{
    ViewData["Title"] = "WorkTime";
}


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h2>Работно Време на библиотеката с читатели</h2>
        <p>ПОНЕДЕЛНИК – ПЕТЪК</p>
        <p>ОТ 9.00 ДО 18.00 ЧАСА</p>
        <p>СЪБОТА ОТ 9.00 ДО 14.00 ЧАСА</p>
        <p>(Детски отдел и Заемна за възрастни)</p>
        <p>Всеки последен четвъртък от месеца</p>
        <p>библиотеката работи с читатели до 14.00 часа</p>
        <p>/санитарен полуден/</p>
        <p>ПОЧИВЕН ДЕН - НЕДЕЛЯ</p>
    </div>
</div>