@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Access denied"];
}

<header class="row text-center">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger bold">@Localizer["You do not have access to this resource."]</p>
</header>
