@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Forgot password confirmation"];
}
<div class="row text-center">
<h2>@ViewData["Title"]</h2>
<p class="bold">
    @Localizer["Please check your email to reset your password"].
</p>
</div>