body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Custom css*/

/*Static pages*/
.vertical-align-middle {
    vertical-align: middle !important;
}

.bold {
    font-weight: bold;
}

.img-float-left {
    float: left;
    margin: 0 15px 0 0;
    border-radius: 60px;
}

.mb-10 {
    margin-bottom: 10px;
}

ol {
    list-style-type: none;
    margin: 0;
    counter-reset: my-badass-counter;
}

    ol li:before {
        content: counter(my-badass-counter) ".";
        counter-increment: my-badass-counter;
        margin-right: 5px;
        font-weight: bold;
    }
.img-border {
    border: 2px solid gray;
    border-radius: 5px;
}
.img-border:hover {
    border-color: lightgray;
}
.p-0-3 {
    padding: 0 3px;
}

.float-left {
    float: left;
}

.width-150 {
    max-height: 150px;
    max-width: 150px;
}

.width-46pr {
    width: 46%;
}
.mr-t-b-25 {
    margin: 25px 0;
}
.mr-8 {
    margin-right: 8px;
}
.mb-30 {
    margin-bottom: 30px;
}
#floater {
    position: absolute;
    top: 100px;
    right: 1px;
    width: 40px;
    height: 40px;
    border-radius: 120px;
    border: 1px solid rgb(105,143,0);
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    z-index: 1;
    padding: 10px;
    background-color: rgba(105,143,0,0.8);
    color: white;
    text-align: center;
    box-sizing: border-box;
}
#floater p {
    font-size: 1.2em;
   font-weight: bold;
}
/*Google Map Settings*/
.infoDiv {
    height: 200px;
    width: 300px;
    -webkit-user-select: none;
    background-color: white;
}

.small-img {
    width: 120px;
}

#map_canvas img {
    max-width: none;
}

.google-box-height {
    height: 550px;
}

.address-box {
    text-align: left;
    display: inline-block;
}

/*Animated partners box*/

.box {
    width: 120px;
    height: 120px;
    float: left;
    margin: 50px 20px 0 20px;
    border: 5px solid #000000;
    border-radius: 105px;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    position: relative
}

    .box img {
        border-radius: 100px;
        width: 70px;
        height: 108px;
        margin-left: 20px;
    }

.onvVidin img {
    width: 120px;
    height: 120px;
    padding-right: 9px;
    padding-bottom: 5px;
    margin-left: 0px;
}

.MPVidin img {
    width: 120px;
    height: 116px;
    padding-right: 9px;
    padding-bottom: 5px;
    margin-left: 0px;
}

.box p {
    width: 111px;
    height: 111px;
    color: #fff;
    background: #000;
    text-align: center;
    border-radius: 100px;
    padding: 45px 0 0 0
}

.box .pt-25 {
    padding-top: 25px;
}

.box .pt-15 {
    padding-top: 15px;
}

.effect-1 p {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

/** Transition effects **/
.effect-1 p {
    transition: opacity 0.5s;
}

    .effect-1 p:hover {
        transition: opacity 0.5s;
        opacity: 0.8;
        cursor: pointer;
    }
/* Submenu*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

.dropdown-submenu:hover > a:after {
        border-left-color: #fff;
}

.dropdown-submenu.pull-left {
        float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    #floater {
        width: 10px;
        height: 10px;     
    }
    #floater p {
        font-size: 1em;
        position: relative;
        top: -9px;
        left: -8px;
    }
}
